<template>
    <loading-view :loading="loading">
        <container>
            <div class="grid grid-cols-3 gap-4" v-if="messages.length > 0">
                <single-message
                        v-for="message in messages"
                        :key="message.id"
                        :message="message"
                        ></single-message>
            </div>
            <div v-else>
                <span class="text-2xl">Keine Nachrichten</span>
            </div>
        </container>
    </loading-view>
</template>
<script>
    import Messages from "../../apis/Messages";
    import SingleMessage from './SingleMessage'
    export default {
        components: {
            SingleMessage
        },
        data: () => ({
            loading: true,
            messages : []
        }),
        mounted() {
            this.fetchMessages()
        },
        methods: {
            fetchMessages() {
                Messages.index().then(({data}) => {
                    this.loading = false
                    this.messages = data.data.map(msg => msg.data)
                });
            }
        }
    }
</script>