<template>
    <div class="bg-teal-100 px-10 py-10 text-left">
        <div class="mb-4" v-if="recipientId == null">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Empfänger
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="username"
                   type="text"
                   placeholder="Empfänger"
                   v-model="recipientId">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
                Nachricht
            </label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="message"
                   type="text"
                   placeholder="Lorem ipsum dolor sit..." v-model="message"></textarea>
        </div>
        <button
                class="w-full bg-teal-700 rounded text-white py-4 text-2xl font-bold"
                @click="send">send</button>

    </div>
</template>
<script>
    import Messages from "../../apis/Messages";
    export default {
        props: {
            to: {
                type: Number,
                default: null
            }
        },
        data: () => ({
            message: "",
            recipientId: null,
        }),
        mounted() {
            this.recipientId = this.to
        },
        methods: {
            send() {
                Messages.send(this.to, this.message).then(() => {
                    this.$emit('close')
                })
            }
        }
    }
</script>