<template>
    <div class="bg-gray-200 px-10 pt-10 text-left">
        <div class="flex items-center mb-10">
            <message-icon class="h-10 w-10"></message-icon>
            <h2 class="ml-5 flex-1 font-bold text-2xl">Nachricht von {{ message.senderId }}</h2>
        </div>
        <div v-html="message.message" class="mb-10"></div>
        <div class="flex items-start flex-col">
            <div class="flex flex-shrink justify-end flex-row">
                <div class="text-gray-500 text-sm"
                     v-text="moment(message.created_at).format('lll')"></div>
                <div class="text-gray-500 text-sm ml-2"
                     v-if="message.read_at">{{ moment(message.read_at).format('lll') }}</div>
            </div>

            <div class="flex flex-row">
                <button class="reply mr-2" @click="reply()">
                    <reply-icon class="w-8 h-8"></reply-icon>
                </button>
                <button class="read mx-2" @click="readed()">
                    mark as read
                </button>
                <button class="delete ml-2">
                    <delete-icon></delete-icon>
                </button>
            </div>

            <modal v-if="showReplyForm" @close="showReplyForm=false">
                <reply-form
                        :to="message.replyToId || message.senderId"
                        @close="showReplyForm=false"></reply-form>
            </modal>
        </div>
    </div>
</template>

<script>
    import MessageIcon from "../Icons/MessageIcon";
    import ReplyIcon from "../Icons/ReplyIcon";
    import DeleteIcon from "../Icons/DeleteIcon";
    import MessageApi from "@/apis/Messages"
    export default {
        name: "SingleMessage",
        components: {
            MessageIcon, ReplyIcon, DeleteIcon, ReplyForm
        },
        props: {
            message: Object
        },
        data: () => ({
            showReplyForm: false
        }),
        methods: {
            reply() {
                this.showReplyForm = true
            },
            readed() {
                MessageApi
                    .mark(this.message.id)
                    .then(() => {

                })
            }
        }
    }
    import ReplyForm from "./Send";
</script>

<style scoped>

</style>