<template>
    <div class="bg-gray-200 px-10 py-10 text-left">
        <div class="flex items-center mb-10">
            <lifebuoy-icon class="h-20 w-20"></lifebuoy-icon>
            <h2 class="ml-5 flex-1 font-bold text-2xl">Unsere Herausforderungen</h2>
        </div>

        <div>
            <slot></slot>
        </div>

    </div>
</template>
<script>
    import LifebuoyIcon from "@/components/Icons/Lifebuoy"
    export default {
        components: {
            LifebuoyIcon
        }
    }
</script>