<template>
    <div class="bg-gray-200 px-10 py-10 text-left">
        <company-icon class="h-20 mb-10"></company-icon>
        <dl class="text-xl">
            <dt class="font-bold">Name</dt>
            <dd class="mb-2">{{ company.name }}</dd>
            <dt class="font-bold">Gründungsjahr</dt>
            <dd class="mb-2">{{ moment(company.established_at).format('Y') }}</dd>
            <dt class="font-bold">Mitarbeiteranzahl</dt>
            <dd class="mb-2">{{ company.staff_count }}</dd>
        </dl>
    </div>
</template>
<script>
    import CompanyIcon from "@/components/Icons/CompanyIcon"
    export default {
        components: {
            CompanyIcon,
        },
        props: {
            company: Object
        }
    }
</script>