<template>
    <div class="bg-gray-200 px-10 py-10 text-left">
        <div class="flex items-center mb-10">
            <cup-icon class="h-20 w-20"></cup-icon>
            <h2 class="ml-5 flex-1 font-bold text-2xl">Unsere Stärken</h2>
        </div>

        <div>
            <slot></slot>
        </div>

    </div>
</template>
<script>
    import CupIcon from "@/components/Icons/Cup"
    export default {
        components: {
            CupIcon
        }
    }
</script>