<template>
    <div>
        <h1 class="text-4xl text-primary">404 - Nix zu sehen</h1>
    </div>
</template>

<script>
    export default {
        name: "404"
    }
</script>

<style scoped>

</style>