<template>
    <div class="home">
        <!-- CAROUSEL Impressionen -->
        <section class="section-carousel">
            <carousel :per-page="1" :pagination-size="20">
                <slide>
                    <div class="picture-background">
                        <div class="picture-layer">
                            <h1 class="subheadline">
                                Lorem
                            </h1>
                            <p class="layer-text">Zombie</p>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="picture-background">
                        <div class="picture-layer">
                            <h1 class="subheadline">
                                Zombie
                            </h1>
                            <p class="layer-text">Zombie</p>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="picture-background">
                        <div class="picture-layer">
                            <h1 class="subheadline">
                                Ipsum
                            </h1>
                            <p class="layer-text">Zombie</p>
                        </div>
                    </div>
                </slide>
            </carousel>
        </section>

        <!-- Purpose Zitat -->
        <section class="section-purpose">
            <h1 class="quote">
                <h2 class="purpose-headline">Our purpose</h2>
                <p class="purpose-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient</p>
            </h1>
        </section>

        <!-- CTA - regoistration -->
        <section class="section-cta">
            <div class="button-wrapper">
                <user-icon class="icon"></user-icon>
                <p>Als Unternehmer registrieren</p>
                <button
                    @click="register()"
                    class="wy-button">You.nitee werden</button>
            </div>
            <div class="button-wrapper">
                <user-icon class="icon"></user-icon>
                <p>Als Helfer registrieren</p>
                <button
                    @click="register()"
                    class="wy-button">You.niter werden</button>
            </div>
        </section>
        <!-- MAP - discover -->

        <!-- VIDEO -->
        <section class="section-video">
            <h3 class="subheadline">Unsere Story (oder wie funktionierts?)</h3>
            <div class="video-wrapper">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/3_y73fo_s6o" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </section>

        <!-- FAQs -->
        <section class="section-faqs">
            <h3 class="subheadline">FAQs</h3>
            <h3 class="subheadline">Für You.Nitees (Unternehmer)</h3>
            <p class="toggle-headline" v-on:click="toggle1 = !toggle1">
                <span class="arrow-right"
                      v-bind:class="{ down: !toggle1 }"></span>
                Was ist We.Younite?
            </p>
            <p v-if="!toggle1"
               class="toggle-text">
                We.Younite ist eine Plattform, die kleine Unternehmen und Unterstützer zusammen bringt. Die Unterstützungsmöglichkeiten werden gesammelt auf einer Plattform ermöglicht, durch: 1- Direkte Geldspenden zur kurzfristigen Liquiditäts-Sicherung oder Unterstützung von notwendigen Investitionen, 2- Gutschein-Kauf zur kurzfristigen Liquiditäts-Sicherung, 3- Freiwilliger Wissensaustausch &amp; eigene Arbeitsleistung zur Unterstützung bei der Entwicklung und Umsetzung von Maßnahmen zum Unternehmenserhalt.<br><br>
                Unternehmer:innen registrieren sich bei We.Younite und erstellen sich ein You.nitee Profil. Sie beschreiben über welche der drei Unterstützungsmöglichkeiten You.niter Ihnen helfen können. Kunden des You.nitees haben die Möglichkeit über Empfehlungen das Profil zu stärken
            </p>

            <p class="toggle-headline" v-on:click="toggle2 = !toggle2">
                <span class="arrow-right"></span>
                Wie kann ich mich registrieren?
            </p>
            <p v-if="!toggle2"
               class="toggle-text">
                Über das Registrierungsformular auf unserer Seite. Bitte fülle es vollständig aus. Hier werden Eckdaten zu deinem Unternehmen abgefragt (u. a. Name, E-Mail-Adresse, Adresse, Handelsregister-Nr.) und wir geben dir die Möglichkeit etwas zu deiner aktuellen Situation zu schreiben, auch mit Fotos oder Videos. Das hilft Unterstützern zu erfahren, wie sie dir am besten helfen können. Hier könntest du zum Beispiel mitteilen, dass du Gutscheine vergeben möchtest, oder Hilfe bei dem Erstellen einer Webpage brauchst.
            </p>

            <p class="toggle-headline" v-on:click="toggle3 = !toggle3">
                <span class="arrow-right"></span>
                Kostet die Registrierung etwas?
            </p>
            <p v-if="!toggle3"
               class="toggle-text">
                Nein, We.Younite ist kostenfrei und an keine Gebühren oder Verpflichtungen gebunden. Uns geht es darum, Menschen zu helfen und Deutschland.
            </p>

            <p class="toggle-headline" v-on:click="toggle4 = !toggle4">
                <span class="arrow-right"></span>
                Wie kannst du uns weiterempfehlen?
            </p>
            <p v-if="!toggle4"
               class="toggle-text">
                In dem du von uns erzählst. Du könntest uns weiterempfehlen, oder uns auf Instagram folgen.
            </p>

            <p class="toggle-headline" v-on:click="toggle5 = !toggle5">
                <span class="arrow-right"></span>
                Wie kann ich euch am besten kontaktieren?
            </p>
            <p v-if="!toggle5"
               class="toggle-text">
                Wir freuen uns über Anregungen und Idee. Schreibt uns einfach eine E-Mail an <a href="mailto:we.younite@hotmail.com">we.younite@hotmail.com</a>
            </p>

            <h3 class="subheadline">Für You.Niter (Helfer)</h3>

            <p class="toggle-headline" v-on:click="toggle6 = !toggle6">
                <span class="arrow-right"></span>
                Was ist We.Younite?
            </p>
            <p v-if="!toggle6"
               class="toggle-text">
                We.Younite ist eine Plattform, die kleine Unternehmen und Unterstützer zusammenbringt. Die Unterstützungsmöglichkeiten werden gesammelt auf einer Plattform ermöglicht, durch: 1- Direkte Geldspenden zur kurzfristigen Liquiditäts-Sicherung oder Unterstützung von notwendigen Investitionen, 2- Gutschein-Kauf zur kurzfristigen Liquiditäts-Sicherung, 3- Freiwilliger Wissensaustausch & eigene Arbeitsleistung zur Unterstützung bei der Entwicklung und Umsetzung von Maßnahmen zum Unternehmenserhalt.
            </p>

            <p class="toggle-headline" v-on:click="toggle7 = !toggle7">
                <span class="arrow-right"></span>
                Wie kann ich kleine Unternehmer unterstützen?
            </p>
            <p v-if="!toggle7"
               class="toggle-text">
                You.niter können Hilfegesuchen folgen und unterstützen, oder diese an Freunde empfehlen. Dadurch bringt We.Younite Unternehmer:innen und Unterstützer:innen zusammen. Du kannst kleine Unternehmen mit Spenden, Gutscheinen oder mit Fertigkeiten unterstützen. Das heißt unter anderem, braucht ein kleiner Unternehmer Hilfe um eine Webpage aufzubauen, kannst du ihm dabei helfen.
            </p>

            <p class="toggle-headline" v-on:click="toggle8 = !toggle8">
                <span class="arrow-right"></span>
                Gibt es einen Mindestbetrag für Spenden? Bekomme ich eine Spendenbescheinigung von We.Younite?
            </p>
            <p v-if="!toggle8"
               class="toggle-text">
                Nein. Jeder Cent hilft den kleinen Unternehmen, die Liquidität sicherzustellen. Im Moment können wir keine Spendenbescheinigung ausstellen, dafür aber vielleicht das Unternehmen, dem du hilfst.
            </p>

            <p class="toggle-headline" v-on:click="toggle9 = !toggle9">
                <span class="arrow-right"></span>
                An meinem gesuchten Standort sind keine oder nur wenige Läden gelistet. Wie kann ich das ändern?
            </p>
            <p v-if="!toggle9"
               class="toggle-text">
                Am besten gibst du den Läden, die dir am Herzen liegen, von unserer Plattform Bescheid und empfiehlst uns online weiter, indem du unser Link teilst.
            </p>

            <p class="toggle-headline" v-on:click="toggle10 = !toggle10">
                <span class="arrow-right"></span>
                Geht meine Spende komplett an die kleinen Unternehmer, die ich auswähle?
            </p>
            <p v-if="!toggle10"
               class="toggle-text">
                Ja, egal für welchen Spenden-Weg du dich entscheidest, das Geld geht an den Unternehmer deiner Wahl.
            </p>

            <p class="toggle-headline" v-on:click="toggle11 = !toggle11">
                <span class="arrow-right"></span>
                Bekomme ich mein Geld zurück, wenn mein Lieblingsladen schließen muss?
            </p>
            <p v-if="!toggle11"
               class="toggle-text">
                Nein, denn eine Spende sollte immer als eine freiwillige Leistung verstanden werden, die ohne Gegenleistung gegeben wird.
            </p>

            <p class="toggle-headline" v-on:click="toggle12 = !toggle12">
                <span class="arrow-right"></span>
                Wer steckt hinter WeYounite?
            </p>
            <p v-if="!toggle12"
               class="toggle-text">
                Ein 10-köpfiges Team aus Designern, Programmierern, BWLer, die in ihrer Freizeit mit We.Younite einen Beitrag leisten möchten.
            </p>

            <p class="toggle-headline" v-on:click="toggle13 = !toggle13">
                <span class="arrow-right"></span>
                Wie ist We.Younite entstanden?
            </p>
            <p v-if="!toggle13"
               class="toggle-text">
                Im Rahmen des Hackathons #WirVsVirus der Bundesregierung vom 20.03.2020, haben wir uns gefunden, mit dem selben Ziel, unseren lokalen Unternehmern in der Krise zu helfen.
            </p>

            <p class="toggle-headline" v-on:click="toggle14 = !toggle14">
                <span class="arrow-right"></span>
                Wie kann ich We.Younite unterstützen?
            </p>
            <p v-if="!toggle14"
               class="toggle-text">
                Wenn du Anregungen hast, wie wir die Plattform verbessern können oder du Ideen für weitere Features hast, dann kannst du uns unter <a href="mailto:we.younite@hotmail.com">we.younite@hotmail.com</a>
            </p>
        </section>

        <modal v-if="show_registration" @close="show_registration=false">
            <register-form @close="show_registration=false"></register-form>
        </modal>
    </div>
</template>

<script>
    // @ is an alias to /src
    import UserIcon from "../components/Icons/UserIcon";
    import { Carousel, Slide } from 'vue-carousel';
    import Register from '../components/auth/Register';
    import Modal from '@/components/Modal'

    export default {
        name: 'Home',
        computed: {

            loggedIn() {
                return this.$store.getters.isLogged
            }
        },
        components: {
            UserIcon,
            Carousel,
            Slide,
            Modal,
            'register-form': Register,
        },
        methods: {
            register() {
                this.show_registration = !this.show_registration;
            }
        },
        data() {
            return {
                show_registration: false,
                toggle1: true,
                toggle2: true,
                toggle3: true,
                toggle4: true,
                toggle5: true,
                toggle6: true,
                toggle7: true,
                toggle8: true,
                toggle9: true,
                toggle10: true,
                toggle11: true,
                toggle12: true,
                toggle13: true,
                toggle14: true,
            }
        }
    }
</script>
<style>
    .home {
        position: relative;
        top: -60px;
    }
    .section-carousel {
        display: block
    }

    .VueCarousel-pagination {
        position: absolute;
        bottom: 10px;
    }

    .picture-background {
        background-image: url('~@/assets/img/girlfriends-2213259.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 772px;
        position: relative;
    }

    .picture-layer {
        background: #fff;
        border-radius: 5px;
        padding: 30px 15px;
        position: absolute;
        right: 20px;
        top: 50px;
    }

    .picture-layer .subheadline {
        font-size: 30px;
        text-align: left;
        margin: 0 0 10px;
    }

    .layer-text {
        font-size: 25px;
    }
    .section-purpose {
        background: #CEEAE8;
        margin: 0 0 20px;
        padding: 30px 0;
    }

    .section-purpose h1 {
        max-width: 350px;
        margin: auto;
    }

    .section-purpose h1.quote:before,
    .section-purpose h1.quote:after {
        opacity: 1;
        width: 50px;
        height: 38px;
    }

    .section-purpose h1.quote:before {
        left: -70px;
    }

    .section-purpose h1.quote:after {
        right: -70px;
    }

    .purpose-headline {
        font-size: 14px;
        color: #2c3e50;
    }

    .purpose-text {
        font-size: 20px;
        font-weight: 600;
        color: #2c3e50;
        text-align: center;
        margin: 30px 0;
    }

    .subheadline {
        color: #397D78;
        font-weight: 600;
        font-size: 25px;
        line-height: 1.2;
        margin: 50px 0 30px;
        text-align: center;
    }
    .video-wrapper {
        margin: 0;
        background: #EFEFEF;
        padding: 30px;
    }
    .video {
        margin: auto;
    }
    .section-faqs {
        background: #EFEFEF;
        padding: 30px 50px;
        margin-top: 70px;
    }

    .section-faqs a {
        cursor: pointer;
        color: #397D78;
        font-weight: 600;
    }

    .section-faqs a:hover {
        text-decoration: underline;
    }


    .section-cta {
        display: flex;
        padding: 0 2%;
        max-width: 1024px;
        margin: auto;
        justify-content: space-between;
    }

    .button-wrapper {
        background: #EFEFEF;
        padding: 50px 30px;
        width: 49%;
        text-align: center;
    }

    .button-wrapper .icon {
        fill: #397D78;
        width: 90px;
    }

    .button-wrapper p {
        font-size: 14px;
    }

    .wy-button {
        cursor: pointer;
        background: #397D78;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
        font-size: 22px;
        padding: 15px 0;
        margin-top: 20px;
        width: 100%;
    }

     .arrow-right {
        border: solid #397D78;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-right: 10px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .arrow-right.down {
        transform: rotate(+45deg);
        -webkit-transform: rotate(+45deg);
    }

    .toggle-headline {
        cursor: pointer;
        font-weight: 600;
        margin-top: 25px;
    }

    .toggle-headline:hover {
        cursor: pointer;
    }

    .toggle-text {
        margin: 25px;
    }
</style>