<template>
    <div class="cotainer">
        <h1 id="impressum" class="text-3xl mb-4">Impressum</h1>
        <h2 id="wichtige-vorbemerkung">Wichtige Vorbemerkung</h2>
        <p>
            Diese Webseite (<a href="http://weyounite.de">weyounite.de</a>, <a href="http://weyounite.eu">weyounite.eu</a>, <a href="http://weyounite.org">weyounite.org</a>, <a href="http://weyounite.net">weyounite.net</a>) ist erst vor kurzem, am 26.03.2020, veröffentlicht worden. Wir, die Betreiber dieser Seite, möchten Sie mit diesem Impressum darüber informieren, wer hinter diesem Angebot steht.</p>
        <p>Diese Seite wurde von einem Team veröffentlicht, das sich in einem sogenannten "Hackathon" gebildet hat. <a href="https://de.wikipedia.org/wiki/Hackathon">Wikipedia</a> erklärt einen Hackathon wie folgt:</p>
        <p>
            <i>
                "Ein&nbsp;Hackathon&nbsp;(Wortschöpfung aus "Hack" und "Marathon") ist eine kollaborative&nbsp;Soft-&nbsp;und&nbsp;Hardwareentwicklungsveranstaltung. Alternative Bezeichnungen sind "Hack Day", "Hackfest" und "codefest". Ziel eines Hackathons ist es, innerhalb der Dauer dieser Veranstaltung gemeinsam nützliche, kreative oder unterhaltsame Softwareprodukte herzustellen oder, allgemeiner, Lösungen für gegebene Probleme zu finden."<br>
            </i>
        </p>
        <h4>Wir, das Team </h4>
        <p>hinter <a href="http://weyounite.de">weyounite.de</a>, <a href="http://weyounite.eu">weyounite.eu</a>, <a href="http://weyounite.org">weyounite.org</a> und <a href="http://weyounite.net">weyounite.net</a> haben uns mit unserem Beitrag vorgenommen: Wir möchten die Unternehmen dabei unterstützen: erfinderisch zu werden und zu bleiben, aber auch Ihnen die Umsetzung zu ermöglichen. Das erreichen wir durch finanzielle Hilfe über den Verkauf von Vouchers, den Empfang von Spenden, oder den Austausch von Know-How und Fertigkeiten.</p>
        <p>Der Hackathon, aus dem diese Seite hervorgegangen ist, ist der von 20.03.2020 veranstaltete Hackathon #WirvsVirus, über den Sie sich unter  <a href="https://www.bundesregierung.de/breg-de/themen/coronavirus/hackathon-der-bundesregierung-1733632">https://www.bundesregierung.de/breg-de/themen/coronavirus/hackathon-der-bundesregierung-1733632</a> informieren können.</p>
        <h2 id="disclaimer">Disclaimer</h2>
        <p>Zu einem Hackathon gehört, dass man sich als Team sehr kurzfristig zusammenfindet und dann, mit hohem Energieeinsatz und unter Zeitdruck Lösungen schafft, für die Softwareenwicklungs- und Projektteams sonst ein vielfaches der Zeit benötigen würden.<br>
        In einer solchen Situation ist Perfektionismus weder gewünscht noch möglich. Wir bemühen uns dennoch, alle rechtlichen Anforderungen sinnvoll zu erfüllen und Ihnen die Möglichkeit zu geben, sich hier über den Anbieter dieses Dienstes zu informieren.<br>
        Bitte haben Sie Verständnis dafür, dass es sich um einen Wettbewerbsbeitrag handelt, der für den Publikumsverkehr erst in den nächsten Tagen und Wochen genutzt werden kann.<br>
        Soweit sich für diesen Beitrag eine Betreibergesellschaft findet, resp. bildet, wird diese das Impressum sofort auf den dann geltenden Stand bringen.</p>
        <p>Bis dahin gilt als Dienstanbieter dieses noch experimentellen Angebots:</p>
        <b id="we.younite-team">We.Younite Team</b>
        <p>Deutschland</p>
        <b id="kontaktmöglichkeiten">Kontaktmöglichkeiten</b>
        <p>E-Mail-Adresse:&nbsp;<a href="mailto:we.younite@hotmail.com">we.younite@hotmail.com</a></p>
        <p>Telefon: +49 170 7363240</p>
        <h2 id="streitbeilegung-vor-einer-verbraucherschlichtungsstelle">Streitbeilegung vor einer Verbraucherschlichtungsstelle</h2>
        <p>Angaben zur Teilnahme an der Verbraucherstreitschlichtung: Wir sind nicht bereit und nicht verpflichtet an einem Streitbeilegungsverfahren vor einer Verbraucherstreitschlichtungsstelle teilzunehmen.</p>
    </div>
</template>
<style>
    p {
        margin-bottom: 10px;
    }

    .cotainer {
        max-width: 860px;
        padding: 0 30px;
        margin: 50px auto;
    }

    h1,
    h2,
    h3,
    h4 {
        color: #397D78;
        font-weight: 600;
        font-size: 25px;
        line-height: 1.2;
        margin: 50px 0 30px;
    }

    a {
        cursor: pointer;
        color: #397D78;
        font-weight: 600;
    }
</style>