<template>
    <div id="map" class="map">
        <div class="flex">
            <GmapMap
                ref='mapRef'
                :center="{ lat: currentLocation.lat, lng: currentLocation.lng }"
                :zoom=12
                map-type-id="terrain"
                style="width: 100%; height: 500px; position: relative">
                <GmapMarker
                    v-if='!currentLocation.error && !currentLocation.loading'
                    :position="{ lat: currentLocation.lat, lng: currentLocation.lng }"
                    :clickable="false"
                    :draggable="false"
                />
                <gmap-info-window :options="infoOptions" :position="infoPosition" :opened="infoOpened" @closeclick="infoOpened=false">
                    <span v-html="infoContent"></span>
                </gmap-info-window>
                <gmap-marker v-for="(item, key) in near" :key="key" :position="getPosition(item)" :clickable="true" @click="toggleInfo(item, key)" />
            </GmapMap>
        </div>
        <div v-for="(item, key) in near" :key="key">
            <div :class="['container', 'rounded', 'p-1', 'mx-auto', 'my-2',  'max-w-xl']">
                <div class='grid grid-cols-3 gap-4'>
                    <div class='col-span-1 content-center'>
                        <!-- Profile image -->
                        <img style="widht: 100px; height: 100px;" alt="profile-pic" class="rounded-circle m-auto" src="https://ramcotubular.com/wp-content/uploads/default-avatar.jpg">
                    </div>
                    <div class='col-span-2 content-center text-left'>
                        <h3>{{ item.title }} | <span :style="[(item.type == 1) ? {'color': '#397D78'} : {'color': '#333'}]">{{ getTypeName(item.type) }} </span></h3>
                        <h4>{{ item.distance }}km Entfernt</h4>
                        <p>{{ item.description }}</p>
                        <button data-toggle="modal" data-target="#objectView" v-on:click='openObject(item)' class='btn btn-secondary'>Öffnen</button>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</template>

<script>
    import {gmapApi} from 'vue2-google-maps'
    export default {
        name: 'Map',
        components: {},
        computed: {
            google: gmapApi
        },
        data() {
            return {
                window: {
                    width: 0,
                    height: 0
                },
                currentLocation: { 
                    lat : 0, 
                    lng : 0,
                    zoom: 12,
                    loading: true,
                    error: false,
                },
                infoPosition: null,
                infoContent: null,
                infoOpened: false,
                showDetailView: false,
                selectedItem: null,
                infoCurrentKey: null,
                infoOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -35
                    }
                },
                near: [{
                        title: 'Julian',
                        type: 0,
                        distance: 4,
                        description: 'Ich bin Selbständiger Full Stack Entwickler',
                        contact: {
                            mobile: '01574/3849384',
                            email: 'julansemir@hotmail.de'
                        },
                        lat: '48.138728429329696',
                        lng: '11.386481726650526',
                        donate: {
                            iban: 'DE21500105173153653341',
                            bank: 'Sparda Nürnberg eG'
                        }
                    },
                    {
                        title: 'Anna',
                        distance: 2,
                        type: 1,
                        description: 'Ich suche Unterstützung bei einer Online Trainer Plattform',
                        contact: {
                            mobile: '01574/3879384',
                            email: 'anna.weber@gmx.de'
                        },
                        lat: '48.238738429329696',
                        lng: '11.486581726650526',
                        donate: {
                            iban: 'DE21500105173153653341',
                            bank: 'Sparda Nürnberg eG'
                        }
                    },
                    {
                        title: 'Max',
                        distance: 8,
                        type: 1,
                        description: 'Ich würde gerne Lieferando anbinden',
                        contact: {
                            mobile: '01574/9264957',
                            email: 'max.nein@web.de'
                        },
                        lat: '48.148728429329696',
                        lng: '11.326481726650526',
                        donate: {
                            iban: 'DE21500105173153653341',
                            bank: 'Sparda Nürnberg eG'
                        },
                        vouchers: [
                            {
                                title: 'Pizza Salami',
                                price: 7.50
                            },
                            {
                                title: 'Pizza Funghi',
                                price: 8.50
                            },
                            {
                                title: 'Pizza Calzone',
                                price: 8.75
                            },
                            {
                                title: 'Pizza Wurstl',
                                price: 6.50
                            },
                        ]
                    },
                    {
                        title: 'Justus',
                        distance: 1,
                        type: 0,
                        description: 'Ich bin Spezialist für Digitalisierungen',
                        contact: {
                            mobile: '01574/9475926',
                            email: 'justus.schneider@gmail.de'
                        },
                        lat: '48.158728429329696',
                        lng: '11.366481726650526',
                        donate: {
                            iban: 'DE21500105173153653341',
                            bank: 'Sparda Nürnberg eG'
                        }
                    },
                    {
                        title: 'Marie',
                        distance: 12,
                        type: 0,
                        description: 'Ich bin Selbständige Web-Designerin',
                        contact: {
                            mobile: '01574/95739573',
                            email: 'marie.lieblich@telekom.de'
                        },
                        lat: '48.138528429329696',
                        lng: '11.389481726650526',
                        donate: {
                            iban: 'DE21500105173153653341',
                            bank: 'Sparda Nürnberg eG'
                        }
                    }
                ]
            }
        },
        mounted : function() {
            this.geolocation();
        },
        methods: {
            geolocation : function() {
                navigator.geolocation.getCurrentPosition((position) => {
                    this.currentLocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                    };
                });
            },
            getTypeName(type) {
                switch (type) {
                    case 0:
                        return 'Supporter';
                    case 1:
                        return 'Unternehmen';
                    default:
                        return 'User';
                }
            },
            getPosition: function(marker) {
                return {
                    lat: parseFloat(marker.lat),
                    lng: parseFloat(marker.lng)
                }
            },
            toggleInfo: function(marker, key) {
                this.selectedItem = marker;
                this.showDetailView = true
                this.infoPosition = this.getPosition(marker);
                this.getInfoContent(marker);
                if (this.infoCurrentKey == key) {
                    this.infoOpened = !this.infoOpened
                } else {
                    this.infoOpened = true
                    this.infoCurrentKey = key
                }
                
            },
            getInfoContent: function(marker) {
               this.infoContent = `Hallo ich bin ${marker.title} und ${marker.description}. Du kannst mich erreichen unter <a href="mailto:${marker.contact.email}">${marker.contact.email}</a>.`
            },
            openObject: function(item) {
                this.infoOpened = true
                this.getInfoContent(item);
                this.infoPosition = this.getPosition(item);
                document.getElementById("map").scrollIntoView();
            }
        }
    }
</script>
<style>
</style>