<template>
    <loading-view :loading="loading">
        <container class="mb-10">
            <h1 class="text-6xl text-primary font-bold">Mein Account</h1>
            <div class="md:flex bg-teal-100 rounded-lg p-6">
                <img class="h-16 w-16 md:h-24 md:w-24 rounded-full mx-auto md:mx-0 md:mr-6"
                     src="https://picsum.photos/200">
                <div class="text-center md:text-left">
                    <h2 class="text-3xl" v-text="user.name"></h2>
                    <div class="text-gray-700 text-lg">E-Mail: {{user.email}}</div>
                    <div class="text-gray-600">Seit {{moment(user.created_at).format('lll')}}</div>
                </div>
            </div>
        </container>
        <container class="mb-10">
            <messages-index class="mb-4"></messages-index>
            <messages-send class="mb-4"></messages-send>
        </container>
    </loading-view>
</template>

<script>
    import User from "../apis/User";
    import MessagesIndex from "@/components/Messages/Index"
    import MessagesSend from "@/components/Messages/Send"
    export default {
        name: "MyAccount",
        data: () => ({
            loading: true,
            user: {}
        }),
        components: {
            MessagesIndex, MessagesSend
        },
        mounted() {
            this.fetchUser()
        },
        methods: {
            fetchUser() {
                User.auth().then(({data}) => {
                    this.user = data
                    this.loading = false
                })
            }
        }
    }
</script>

<style scoped>

</style>