<template>
    <div class="cotainer">
        <h1>Nutzungsbedingungen</h1>
        <span>April 2020</span>
        <p>
            Willkommen bei "we.younite.de, we.younite.org, we.younite.net, und we.younite.eu"! nachfolgenden Nutzungsbedingungen regeln die kostenlose Nutzung von "we.younite.de, we.younite.org, we.younite.net, we.younite.eu" durch registrierte Nutzer (nachfolgend: "You.Niters und You.Nitees") über das Internet, mobile Dienste, Apps, andere Domains oder Kommunikationswege:
        </p>
        <h2>
            1. Anmeldung und Registrierung, Benutzerkonto
        </h2>
        <p>
            <b>1.1</b> Die Registrierung kommt durch unsere Bestätigung deiner Registrierung zustande.
        </p>
        <p>
            <b>1.2</b> Du musst mindestens 18 Jahre und voll geschäftsfähig sein oder mindestens 13 Jahre alt sein und dich mit Zustimmung deiner Erziehungsberechtigten und gesetzlichen Vertreter anmelden.
        </p>
        <p>
            <b>1.3</b> Bei der Anmeldung musst du wahrheitsgemäße, aktuelle und vollständige Angaben machen. Deine Daten, vor allem Name und Anschrift, musst du im Mitgliedskonto stets aktuell halten. Mehrfache Anmeldungen unter verschiedenen Mitgliedsnamen sind untersagt; eine erneute Anmeldung, wenn wir eine Mitgliedschaft gekündigt und die Neuanmeldung verboten hatten, ist ebenfalls untersagt.
        </p>
        <p>
            <b>1.4</b> Die Registrierung ist persönlich und deine Zugangsdaten darfst nur du selbst verwenden, nicht z.B. auch Familienmitglieder oder Freunde. Du musst die Zugangsdaten zu deinem Benutzerkonto geheim halten. Bitte informiere uns umgehend, wenn du einen Missbrauch feststellst.
        </p>
        <h2>
            2. Laufzeit und Kündigung
        </h2>
        <p>
            Die Registrierung läuft auf unbestimmte Zeit. Sie kann von dir und uns jederzeit mit sofortiger Wirkung ordentlich storniert werden.
        </p>

        <h2>
            3. Nutzung von "we.younite.de, we.younite.org, we.younite.net, we.younite.eu"
        </h2>
        <p>
            <b>3.1</b> Bei der Nutzung von "we.younite.de, we.younite.org, we.younite.net, we.younite.eu" verpflichtest du dich, die geltenden gesetzlichen Vorschriften zu beachten. Das betrifft z.B. den Schutz der Persönlichkeitsrechte anderer Nutzer oder das Urheberrecht an Fotos.
        </p>
        <p>
            <b>3.2</b> "we.younite.de, we.younite.org, we.younite.net, we.younite.eu" ist kostenlos. Wir übernehmen keine Garantie oder Gewähr für Informationen auf "we.younite.de, we.younite.org, we.younite.net, we.younite.eu", für Inhalte anderer Nutzer oder für eine bestimmte Verfügbarkeit oder Funktionalität von "we.younite.de, we.younite.org, we.younite.net, we.younite.eu".
        </p>
        <p>
            <b>3.3</b> Wir kontrollieren auf " we.younite.de, we.younite.org, we.younite.net, we.younite.eu ” gespeicherte Inhalte von Nutzern nicht vorab. Wir behalten uns aber vor, sowohl Nutzer als auch ihre Inhalte jederzeit zu sperren oder zu löschen. Dies würden wir insbesondere tun, wenn wir Kenntnis von einem Verstoß gegen geltendes Recht, gegen unsere Netiquette oder gegen unsere Beitrags- und Kommentarrichtlinien in einem Inhalt erhalten. Eine Löschung und / oder Sperrung aus anderen Gründen behalten wir uns ausdrücklich vor. Diese Gründe liegen in unserem Ermessen. Wir sind nicht dazu verpflichtet, die Nutzer über diese Gründe zu informieren.
        </p>
        <p>
            <b>3.4</b> Du darfst dein privates Profil bei "we.younite.de, we.younite.org, we.younite.net, we.younite.eu" nicht für geschäftliche Zwecke, z.B. für das gewerbliche Angebot von Waren oder Dienstleistungen oder Werbung, nutzen. Detaillierte Informationen findest du in dieser Richtlinie.
        </p>
        <p>
            <b>3.5</b> Du bleibst Inhaber deiner Inhalte (z.B. von dir auf "we.younite.de, we.younite.org, we.younite.net, we.younite.eu" veröffentlichte Fotos, Kommentare oder Beiträge). Wenn an deinem Inhalt ein Schutzrecht besteht (zB ein Urheberrecht an einem Foto oder Text), gewährst du uns das Recht, den Inhalt für den Betrieb von we.younite.de, we.younite.org, we.younite.net, we.younite.eu zu nutzen. Dieses Nutzungsrecht ist nicht-exklusiv und zeitlich und räumlich unbeschränkt. Soweit hierfür erforderlich, dürfen wir das Nutzungsrecht auch übertragen oder unterlizenzieren.
        </p>
        <p>
            <b>3.6</b> An der Struktur und den Funktionalitäten von "we.younite.de, we.younite.org, we.younite.net, we.younite.eu" sowie deren Bezeichnungen (z.B. bei Gruppen, Events) und den Datenbanken von "we.younite.de, we.younite.org, we.younite.net, we.younite.eu" behalten bzw. erwerben bei Fortentwicklung nur wir die ausschließlichen und unbeschränkten Rechte.
        </p>
        <h2>
            4. Änderung der Nutzungsbedingungen
        </h2>
        <p>
            <b>4.1</b> Mit deiner Zustimmung oder wenn deine Zustimmung nach den folgenden Bestimmungen als erteilt gilt, können wir die mit dir vereinbarten Nutzungsbedingungen anpassen (z.B. bei Einführung neuer Funktionen).
        </p>
        <p>
            <b>4.2</b> Wenn wir die Nutzungsbedingungen ändern möchten, teilen wir dir dies mindestens sechs Wochen vor dem vorgeschlagenen Wirksamwerden in sog. Textform (also z.B. per E-Mail) mit. Widersprichst du nicht innerhalb von sechs Wochen nach Zugang dieser Mitteilung in Textform, gilt deine Zustimmung zur Änderung als erteilt und die Änderungen werden zum angekündigten Zeitpunkt wirksam. Auf diese Folge weisen wir dich in der Änderungsmitteilung besonders hin.
        </p>
        <h2>
            5. Datenschutz
        </h2>
        <p>
            we.younite.de, we.younite.org, we.younite.net, we.younite.eu unterliegen deutschem und europäischem Datenschutzrecht. Informationen zur Erhebung, Verarbeitung und Nutzung personenbezogener Daten findest du in unserer Datenschutzerklärung auf unserer Webseite unter we.younite.de, we.younite.org, we.younite.net, we.younite.eu /privacy .
        </p>
        <p>
            Für eine erfolgreiche Verifizierung benötigen wir lediglich den Nachweis deines Vor- und Nachnamens sowie deiner vollständigen Adresse. Zum Schutz deiner personenbezogenen Daten bitten wir dich bei Übermittlung persönlicher Dokumente (z.B. Rechnung oder Personalausweis), alle anderen, für die Verifizierung nicht relevanten personenbezogenen Informationen zu schwärzen. Dazu zählen z.B. Kundennummern, Personalausweisnummer und ähnliches.
        </p>
        <h2>
            6. Alternative Streitbeilegung gemäß Verbraucherstreitbeilegungsgesetz
        </h2>
        <p>
            Wir weisen dich darauf hin, dass wir nicht bereit und nicht verpflichtet sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
        </p>
        <h2>
            7. Anwendbares Recht
        </h2>
        <p>
            Es gilt deutsches Recht.
        </p>
    </div>
</template>
<style>
    p {
        margin-bottom: 10px;
    }

    li {
      padding-left: 13px;
      text-indent: -13px;
      margin-bottom: 10px;
    }

    li::before {
      content: "• ";
      color: #397D78;
    }

    .cotainer {
        max-width: 860px;
        padding: 0 30px;
        margin: 50px auto;
    }

    h1,
    h2,
    h3,
    h4 {
        color: #397D78;
        font-weight: 600;
        font-size: 25px;
        line-height: 1.2;
        margin: 50px 0 30px;
    }

    a {
        cursor: pointer;
        color: #397D78;
        font-weight: 600;
    }

    a:hover {
        text-decoration: underline;
    }
</style>