<template>
    <div class="cotainer">
        <h1>Datenschutz</h1>
        <h2>Wichtige Vorbemerkung</h2>
        <p>
            Webseite (weyounite.de, weyounite.eu, weyounite.org, weyounite.net) ist erst vor kurzem, am 26.03.2020, veröffentlicht worden. Wir, die Betreiber dieser Seite, möchten Sie mit diesem Impressum darüber informieren, wer hinter diesem Angebot steht.
        </p>
        <p>
            Seite wurde von einem Team veröffentlicht, das sich in einem sogenannten "Hackathon" gebildet hat. <a href="https://de.wikipedia.org/wiki/Hackathon" target="_blank">Wikipedia</a> erklärt einen Hackathon wie folgt:
        </p>
        <p>
            <i>
                "Ein Hackathon (Wortschöpfung aus "Hack" und "Marathon") ist eine kollaborative Soft- und Hardwareentwicklungsveranstaltung. Alternative Bezeichnungen sind "Hack Day", "Hackfest" und "codefest". Ziel eines Hackathons ist es, innerhalb der Dauer dieser Veranstaltung gemeinsam nützliche, kreative oder unterhaltsame Softwareprodukte herzustellen oder, allgemeiner, Lösungen für gegebene Probleme zu finden."
            </i>
        </p>
        <p>
            Wir, das Team hinter weyounite.de, weyounite.eu, weyounite.org und weyounite.net haben uns mit unserem Beitrag vorgenommen: Wir möchten die Unternehmen dabei unterstützen: erfinderisch zu werden und zu bleiben, aber auch Ihnen die Umsetzung zu ermöglichen. Das erreichen wir durch finanzielle Hilfe über den Verkauf von Vouchers, den Empfang von Spenden, oder den Austausch von Know-How und Fertigkeiten.
        </p>
        <p>
            Der Hackathon, aus dem diese Seite hervorgegangen ist, ist der von 20.03.2020 veranstaltete Hackathon #WirvsVirus, über den Sie sich <a href="https://www.bundesregierung.de/breg-de/themen/coronavirus/hackathon-der-bundesregierung-1733632" target="_blank">hier</a> informieren können.
        </p>
        <h3>Disclaimer</h3>
        <p>
            Zu einem Hackathon gehört, dass man sich als Team sehr kurzfristig zusammenfindet und dann, mit hohem Energieeinsatz und unter Zeitdruck Lösungen schafft, für die Softwareenwicklungs- und Projektteams sonst ein vielfaches der Zeit benötigen würden. In einer solchen Situation ist Perfektionismus weder gewünscht noch möglich. Wir bemühen uns dennoch, alle rechtlichen Anforderungen sinnvoll zu erfüllen und Ihnen die Möglichkeit zu geben, sich hier über den Anbieter dieses Dienstes zu informieren. Bitte haben Sie Verständnis dafür, dass es sich um einen Wettbewerbsbeitrag handelt, der für den Publikumsverkehr erst in den nächsten Tagen und Wochen genutzt werden kann. Soweit sich für diesen Beitrag eine Betreibergesellschaft findet, resp. bildet, wird diese das Impressum sofort auf den dann geltenden Stand bringen.
        </p>
        <p>
            Bis dahin gilt als Dienstanbieter dieses noch experimentellen Angebots:
        </p>
        <p>
            We.Younite Team<br>
            Deutschland
        </p>

        <p>
            Kontaktmöglichkeiten:<br>
            E-Mail-Adresse: <a href="mailto:we.younite@hotmail.com">we.younite@hotmail.com</a><br>
            Telefon: <a href="tel:+49 170 7363240">+49 170 7363240</a><br>
            Streitbeilegung vor einer Verbraucherschlichtungsstelle<br>
            Angaben zur Teilnahme an der Verbraucherstreitschlichtung: Wir sind nicht bereit und nicht verpflichtet an einem Streitbeilegungsverfahren vor einer Verbraucherstreitschlichtungsstelle teilzunehmen.
        <p>


        <h3>Haftungs- und Urheberrechtshinweise</h3>
        <h4>Haftungsausschluss:</h4>
        <p>
            Die Inhalte dieses Onlineangebotes wurden sorgfältig und nach unserem aktuellen Kenntnisstand im Rahmen des bereits oben beschriebenen Hackathon erstellt. Sie dienen allein der Information und entfalten keine rechtlich bindende Wirkung, sofern es sich nicht um gesetzlich verpflichtende Informationen (z.B. das Impressum, die Datenschutzerklärung, AGB oder verpflichtende Belehrungen von Verbrauchern) handelt. Wir behalten uns vor, die Inhalte jederzeit vollständig oder teilweise zu ändern oder zu löschen, soweit vertragliche Verpflichtungen davon unberührt bleiben. Alle Angebote sind freibleibend und unverbindlich.
        </p>


        <h3>ÜBERSICHT DER VERARBEITUNGEN</h3>
        <p>
            Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung zusammen und verweist auf die betroffenen Personen.<br>
            Welche personenbezogenen Daten werden für welchen Zweck erhoben und verarbeitet?
        </p>
        <h4>1. You.Nitees / Einzelunternehmer</h4>
        <p>
            Diejenigen, die als Inhaber eines Unternehmens ihr Profil auf die Website einstellen möchten, müssen auf dieser Plattform die Pflichtangaben hinterlegen. Diese sind Name, E-Mailadresse, Unternehmensname, Handelsregisternummer, Adresse des Ladens, Geschäfts-Kategorie des Ladens. Rechtsgrundlage für die Speicherung der Pflichtangaben ist Art. 6 Abs. 1b DS-GVO.
        </p>
        <h4>2. You.Niters / Helfer</h4>
        <p>
            Diejenigen, die kleinen Unternehmer in dem gewünschten Viertel suchen, können per Postleitzahl ihren Standort eingeben und finden die Läden in ihrer Nähe. Eine separate Speicherung und Verarbeitung dieser Daten erfolgt nicht.
        </p>
        <h4>3. Besucher der Website</h4>
        <p>
            Daten werden zum einen verarbeitet, wenn Sie uns diese mitteilen (Kontaktformular). Andere Daten werden automatisch bei Besuch der Website durch unsere IT-System erfasst. Das sind im Wesentlichen technische Daten (wie Internetbrowser, Datum und Uhrzeit des Website-Aufrufes und Betriebssystem.) Die Erfassung dieser Daten erfolgt automatisch mit Betreten der Website.
        </p>


        <h3>ARTEN DER VERARBEITETEN DATEN</h3>
        <ul>
            <li>Datum und Uhrzeit des Abrufes</li>
            <li>IP-Adresse des aufrufenden Rechners</li>
            <li>Hostname des zugreifenden Rechners</li>
            <li>Betriebssystem</li>
            <li>Browsertyp und verwendete Version</li>
            <li>Bestandsdaten (z.B. Namen, Adressen).</li>
            <li>Inhaltsdaten (z.B. Texteingaben, selbst hochgeladene Fotografien, Videos)</li>
            <li>Kontaktdaten (z.B. E-Mail, Telefonnummern)</li>
            <li>Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten).</li>
            <li>Übertragende Datenmenge</li>
            <li>Standortdaten (Daten, die den Standort des Endgeräts eines Endnutzers angeben).</li>
        </ul>
        <h3>ZWECKE DER VERARBEITUNG</h3>
        <p>
            Die Daten werden teilweise erhoben, um eine fehlerfreie Bereitstellung der Website zu gewähren; andere Daten werden zur Analyse der Nutzerverhaltens verwendet, um die Website bedarfsgerechter optimieren zu können. Eine eigenständige Weiterleitung der Daten an Dritte erfolgt nicht.
        </p>
        <ul>
            <li>Affiliate-Nachverfolgung.</li>
            <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
            <li>Besuchsaktionsauswertung.</li>
            <li>Büro- und Organisationsverfahren.</li>
            <li>Content Delivery Network (CDN).</li>
            <li>Cross-Device Tracking (geräteübergreifende Verarbeitung von Nutzerdaten für Marketingzwecke).</li>
            <li>Direktmarketing (z.B. per E-Mail oder postalisch).</li>
            <li>Feedback (z.B. Sammeln von Feedback via Online-Formular).</li>
            <li>Interessenbasiertes und verhaltensbezogenes Marketing.</li>
            <li>Kontaktanfragen und Kommunikation.</li>
            <li>Profiling (Erstellen von Nutzerprofilen).</li>
            <li>Remarketing.</li>
            <li>Reichweitenmessung (z.B. Zugriffsstatistiken, Erkennung wiederkehrender Besucher).</li>
            <li>Sicherheitsmaßnahmen.</li>
            <li>Tracking (z.B. interessens-/verhaltensbezogenes Profiling, Nutzung von Cookies).</li>
            <li>Servermonitoring und Fehlererkennung.</li>
            <li>Vertragliche Leistungen und Service.</li>
            <li>Verwaltung und Beantwortung von Anfragen.</li>
            <li>Zielgruppenbildung (Bestimmung von für Marketingzwecke relevanten Zielgruppen oder sonstige Ausgabe von Inhalten).</li>
        </ul>

        <h3>SICHERHEITSMASSNAHMEN</h3>
        <p>
            Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten natürlicher Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu gewährleisten. Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von Daten durch Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden Zugriffs, der Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir Verfahren eingerichtet, die eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen auf die Gefährdung der Daten gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten bereits bei der Entwicklung bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend dem Prinzip des Datenschutzes, durch Technikgestaltung und durch datenschutzfreundliche Voreinstellungen. Kürzung der IP-Adresse: Sofern es uns möglich ist oder eine Speicherung der IP-Adresse nicht erforderlich ist, kürzen wir oder lassen Ihre IP-Adresse kürzen. Im Fall der Kürzung der IP-Adresse, auch als "IP-Masking" bezeichnet, wird das letzte Oktett, d.h., die letzten beiden Zahlen einer IP-Adresse, gelöscht (die IP-Adresse ist in diesem Kontext eine einem Internetanschluss durch den Online-Zugangs-Provider individuell zugeordnete Kennung). Mit der Kürzung der IP-Adresse soll die Identifizierung einer Person anhand ihrer IP-Adresse verhindert oder wesentlich erschwert werden. SSL-Verschlüsselung (https): Um Ihre via unser Online-Angebot übermittelten Daten zu schützen, nutzen wir eine SSL-Verschlüsselung. Sie erkennen derart verschlüsselte Verbindungen an dem Präfix https:// in der Adresszeile Ihres Browsers.
        </p>
        <h3>ZAHLUNGSDIENSTLEISTER</h3>
        <p>
            Im Rahmen der Möglichkeit Spenden zu leisten bzw. diese entgegen zu nehmen, verweisen wir auf Paypal und geben geben die Möglichkeit zu Überweisung über das eigene Kreditinstitut (zusammenfassend "Zahlungsdienstleister"). Zu den durch die Zahlungsdienstleister verarbeiteten Daten gehören Bestandsdaten, wie z.B. der Name und die Adresse, Bankdaten, wie z.B. Kontonummern oder Kreditkartennummern, Passwörter, TANs und Prüfsummen sowie die Vertrags-, Summen- und empfängerbezogenen Angaben. Die Angaben sind erforderlich, um die Transaktionen durchzuführen. Die eingegebenen Daten werden jedoch nur durch die Zahlungsdienstleister verarbeitet und bei diesen gespeichert. D.h., wir erhalten keine konto- oder kreditkartenbezogenen Informationen, sondern lediglich Informationen mit Bestätigung oder Negativbeauskunftung der Zahlung. Unter Umständen werden die Daten seitens der Zahlungsdienstleister an Wirtschaftsauskunfteien übermittelt. Diese Übermittlung bezweckt die Identitäts- und Bonitätsprüfung. Hierzu verweisen wir auf die AGB und die Datenschutzhinweise der Zahlungsdienstleister. Für die Zahlungsgeschäfte gelten die Geschäftsbedingungen und die Datenschutzhinweise der jeweiligen Zahlungsdienstleister, welche innerhalb der jeweiligen Webseiten bzw. Transaktionsapplikationen abrufbar sind. Wir verweisen auf diese ebenfalls zwecks weiterer Informationen und Geltendmachung von Widerrufs-, Auskunfts- und anderen Betroffenenrechten.
        </p>

        <h3>EINGESETZTE DIENSTE UND DIENSTEANBIETER:</h3>
        <p>
            Zahlungsdienstleistungen und -Lösungen (z.B. PayPal, PayPal Plus, Braintree); Dienstanbieter: PayPal (Europe) S.à r.l. et Cie, S.C.A., 22-24 Boulevard Royal, L-2449 Luxembourg; <a href="https://www.paypal.com/de" target="_blank">Website</a>; <a href="https://www.paypal.com/de/webapps/mpp/ua/privacy-full" target="_blank">Datenschutzerklärung</a>.
        </p>

        <h3>8. REGISTRIERUNG, ANMELDUNG UND NUTZERKONTO</h3>
        <p>
            User können ein Nutzerkonto anlegen. Im Rahmen der Registrierung werden den Nutzern die erforderlichen Pflichtangaben mitgeteilt und zu Zwecken der Bereitstellung des Nutzerkontos auf Grundlage vertraglicher Pflichterfüllung verarbeitet. Zu den verarbeiteten Daten gehören insbesondere die Login-Informationen (Name, Passwort sowie eine E-Mail-Adresse). Die im Rahmen der Registrierung eingegebenen Daten werden für die Zwecke der Nutzung des Nutzerkontos und dessen Zwecks verwendet.
        </p>
        <p>
            Die User können über Vorgänge, die für deren Nutzerkonto relevant sind, wie z.B. technische Änderungen, per E-Mail informiert werden. Wenn Nutzer ihr Nutzerkonto gekündigt haben, werden deren Daten im Hinblick auf das Nutzerkonto, vorbehaltlich einer gesetzlichen Aufbewahrungspflicht, gelöscht. Es obliegt den Nutzern, ihre Daten bei erfolgter Kündigung vor dem Vertragsende zu sichern. Wir sind berechtigt, sämtliche während der Vertragsdauer gespeicherte Daten des Nutzers unwiederbringlich zu löschen.
        </p>
        <p>
            Im Rahmen der Inanspruchnahme unserer Registrierungs- und Anmeldefunktionen sowie der Nutzung des Nutzerkontos speichern wir die IP-Adresse und den Zeitpunkt der jeweiligen Nutzerhandlung. Die Speicherung erfolgt auf Grundlage unserer berechtigten Interessen im Sinne des Art. 6 Abs. 1 f DS-GVO als auch jener der Nutzer an einem Schutz vor Missbrauch und sonstiger unbefugter Nutzung. Eine Weitergabe dieser Daten an Dritte erfolgt grundsätzlich nicht, es sei denn, sie ist zur Verfolgung unserer Ansprüche erforderlich oder es besteht hierzu besteht eine gesetzliche Verpflichtung.
        </p>
        <p>
            Online-Forum: Die Teilnahme am Forum setzt eine Registrierung voraus, bei der, vorbehaltlich anderer Angaben im Registrierungsformular, ein oder Ihr Name, ein Kennwort und die E-Mail-Adresse, an welche die Zugangsdaten versendet werden, angegeben werden müssen. Aus Gründen der Sicherheit sollte das Kennwort dem Stand der Technik entsprechen, also kompliziert sein (hierauf werden Nutzer notfalls im Rahmen der Registrierung hingewiesen) und nicht an anderer Stelle verwendet werden. Die Beiträge im Forum sind für die Öffentlichkeit sichtbar, es sei denn, deren Sichtbarkeit ist auf bestimmte Mitglieder oder Mitgliedergruppen beschränkt. Die Beiträge der Verfasser werden mit deren Namen, sofern registriert oder angegeben, dem Zeitpunkt und dem Eintragsinhalt gespeichert. Bei Anmeldungen und beim Verfassen von Einträgen werden ferner die IP-Adressen der Nutzer gespeichert, falls die Einträge einen unzulässigen Inhalt aufweisen sollten und die IP-Adressen der Rechtsverfolgung dienen könnten. Der Verantwortliche behält sich vor, die Anmeldungen und Einträge auf Grundlage einer sachgerechten Abwägung zu löschen.
        </p>

        <h3>BLOGS UND PUBLIKATIONSMEDIEN</h3>
        <p>
            Wir nutzen Blogs oder vergleichbare Mittel der Onlinekommunikation und Publikation (nachfolgend "Publikationsmedium"). Die Daten der Leser werden für die Zwecke des Publikationsmediums nur insoweit verarbeitet, als es für dessen Darstellung und die Kommunikation zwischen Autoren und Lesern oder aus Gründen der Sicherheit erforderlich ist. Im Übrigen verweisen wir auf die Informationen zur Verarbeitung der Besucher unseres Publikationsmediums im Rahmen dieser Datenschutzhinweise. Kommentare und Beiträge: Wenn Nutzer Kommentare oder sonstige Beiträge hinterlassen, können ihre IP-Adressen auf Grundlage unserer berechtigten Interessen gespeichert werden. Das erfolgt zu unserer Sicherheit, falls jemand in Kommentaren und Beiträgen widerrechtliche Inhalte hinterlässt (Beleidigungen, verbotene politische Propaganda etc.). In diesem Fall können wir selbst für den Kommentar oder Beitrag belangt werden und sind daher an der Identität des Verfassers interessiert. Des Weiteren behalten wir uns vor, auf Grundlage unserer berechtigten Interessen die Angaben der Nutzer zwecks Spamerkennung zu verarbeiten. Auf derselben Rechtsgrundlage behalten wir uns vor, im Fall von Umfragen die IP-Adressen der Nutzer für deren Dauer zu speichern und Cookies zu verwenden, um Mehrfachabstimmungen zu vermeiden. Die im Rahmen der Kommentare und Beiträge mitgeteilten Informationen zur Person, etwaige Kontakt- sowie Webseiteninformationen als auch die inhaltlichen Angaben werden von uns bis zum Widerspruch der Nutzer dauerhaft gespeichert.
        </p>
        <ul>
            <li>
                Verarbeitete Datenarten: Bestandsdaten (z.B. Namen, Adressen), Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos), Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).
            </li>
            <li>
                Betroffene Personen: Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
            </li>
            <li>
                Zwecke der Verarbeitung: Vertragliche Leistungen und Service, Feedback (z.B. Sammeln von Feedback via Online-Formular), Sicherheitsmaßnahmen, Verwaltung und Beantwortung von Anfragen.
            </li>
            <li>
                Rechtsgrundlagen: Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO), Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO), Schutz lebenswichtiger Interessen (Art. 6 Abs. 1 S. 1 lit. d. DSGVO).
            </li>
        </ul>

        <h3>KONTAKTAUFNAHME</h3>
        <p>
            Bei der Kontaktaufnahme mit uns (z.B. per Kontaktformular, E-Mail, Telefon oder via soziale Medien) werden die Angaben der anfragenden Personen verarbeitet, soweit dies zur Beantwortung der Kontaktanfragen und etwaiger angefragter Maßnahmen erforderlich ist. Die Beantwortung der Kontaktanfragen im Rahmen von vertraglichen oder vorvertraglichen Beziehungen erfolgt zur Erfüllung unserer vertraglichen Pflichten im Sinne des Art. 6 Absatz 1 b DS-GVO oder zur Beantwortung von (vor)vertraglichen Anfragen und im Übrigen auf Grundlage der berechtigten Interessen an der Beantwortung der Anfragen.
        </P>
        <ul>
            <li>
                Verarbeitete Datenarten: Bestandsdaten (z.B. Namen, Adressen), Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos).
            </li>
            <li>
                Betroffene Personen: Kommunikationspartner.
            </li>
            <li>
                Zwecke der Verarbeitung: Kontaktanfragen und Kommunikation.
            </li>
            <li>
                Rechtsgrundlagen: Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
            </li>
        </ul>

        <h3>BEREITSTELLUNG DES ONLINEANGEBOTES UND WEBHOSTING</h3>
        <p>
            Um unser Onlineangebot sicher und effizient bereitstellen zu können, nehmen wir die Leistungen von einem oder mehreren Webhosting-Anbietern in Anspruch, von deren Servern (bzw. von ihnen verwalteten Servern) das Onlineangebot abgerufen werden kann. Zu diesen Zwecken können wir Infrastruktur- und Plattformdienstleistungen, Rechenkapazität, Speicherplatz und Datenbankdienste sowie Sicherheitsleistungen und technische Wartungsleistungen in Anspruch nehmen. Zu den im Rahmen der Bereitstellung des Hostingangebotes verarbeiteten Daten können alle die Nutzer unseres Onlineangebotes betreffenden Angaben gehören, die im Rahmen der Nutzung und der Kommunikation anfallen. Hierzu gehören regelmäßig die IP-Adresse, die notwendig ist, um die Inhalte von Onlineangeboten an Browser ausliefern zu können, und alle innerhalb unseres Onlineangebotes oder von Webseiten getätigten Eingaben. E-Mail-Versand und -Hosting: Die von uns in Anspruch genommenen Webhosting-Leistungen umfassen ebenfalls den Versand, den Empfang sowie die Speicherung von E-Mails. Zu diesen Zwecken werden die Adressen der Empfänger sowie Absender als auch weitere Informationen betreffend den E-Mailversand (z.B. die beteiligten Provider) sowie die Inhalte der jeweiligen E-Mails verarbeitet. Die vorgenannten Daten können ferner zu Zwecken der Erkennung von SPAM verarbeitet werden. Wir bitten darum, zu beachten, dass E-Mails im Internet grundsätzlich nicht verschlüsselt versendet werden. Im Regelfall werden E-Mails zwar auf dem Transportweg verschlüsselt, aber (sofern kein sogenanntes Ende-zu-Ende-Verschlüsselungsverfahren eingesetzt wird) nicht auf den Servern, von denen sie abgesendet und empfangen werden. Wir können daher für den Übertragungsweg der E-Mails zwischen dem Absender und dem Empfang auf unserem Server keine Verantwortung übernehmen. Erhebung von Zugriffsdaten und Logfiles: Wir selbst (bzw. unser Webhostinganbieter) erheben Daten zu jedem Zugriff auf den Server (sogenannte Serverlogfiles). Zu den Serverlogfiles können die Adresse und Name der abgerufenen Webseiten und Dateien, Datum und Uhrzeit des Abrufs, übertragene Datenmengen, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite) und im Regelfall IP-Adressen und der anfragende Provider gehören. Die Serverlogfiles können zum einen zu Zwecken der Sicherheit eingesetzt werden, z.B., um eine Überlastung der Server zu vermeiden (insbesondere im Fall von missbräuchlichen Angriffen, sogenannten DDoS-Attacken) und zum anderen, um die Auslastung der Server und ihre Stabilität sicherzustellen. Content-Delivery-Network: Wir setzen ein "Content-Delivery-Network" (CDN) ein. Ein CDN ist ein Dienst, mit dessen Hilfe Inhalte eines Onlineangebotes, insbesondere große Mediendateien, wie Grafiken oder Programm-Skripte, mit Hilfe regional verteilter und über das Internet verbundener Server schneller und sicherer ausgeliefert werden können. Cloudflare: 101 Townsend St, San Francisco, CA 94107 / <a href="https://www.cloudflare.com/de-de/privacypolicy/" target="_blank">Datenschutzangaben</a> Sentry: <a href="https://sentry.io/privacy/" target="_blank">Datenschutzangaben</a>
        </p>
        <ul>
            <li>
                Verarbeitete Datenarten: Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos), Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).
            </li>
            <li>
                Betroffene Personen: Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten), Kunden.
            </li>
            <li>
                Zwecke der Verarbeitung: Content Delivery Network (CDN), Servermonitoring und Fehlererkennung, Vertragliche Leistungen und Service, Sicherheitsmaßnahmen.
            </li>
            <li>
                Rechtsgrundlagen: Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO), Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO).
            </li>
        </ul>

        <h3>EINGESETZTE DIENSTE UND DIENSTEANBIETER:</h3>
        <ul>
            <li>
                Amazon Web Services (AWS): Webhosting und infrastrukturelle Dienstleistungen; Dienstanbieter: Amazon Web Services, Inc., 410 Terry Avenue North, Seattle WA 98109, USA; <a href="https://aws.amazon.com/de/" target="_blank">Website</a>; <a href="https://aws.amazon.com/de/privacy/?nc1=f_pr" target="_nlank">Datenschutzerklärung</a>; <a href="https://www.privacyshield.gov/participant?id=a2zt0000000TOWQAA4&status=Active" target="_blank">Privacy Shield</a> (Gewährleistung Datenschutzniveau bei Verarbeitung von Daten in den USA).
            </li>
            <li>
                3057421516.1298075 577878355.0392157 5986765652.905797 900086041.8506329 868675774.9248619 2369342004.811966 927472051.3178694 1684152895.3023255 1083276230.1670282 889486768.0584518 1127493700.5740528 850337870.659118 895245129.995671 8680427005.509615 573150196.2909567 103015527054.11111 498227445.2680965 157144152.40191388 1647800186.3734694 298757898.0371156
            </li>
            <li>
                New Relic: Servermonitoring und Fehlererkennung; Dienstanbieter: New Relic, Inc. Attn: Legal Department 188 Spear Street, Suite 1200 San Francisco, CA 94105, USA; <a href="https://newrelic.com" target="_blank">Website</a>; Sicherheitsmaßnahmen: IP-Masking (Pseudonymisierung der IP-Adresse); <a href="https://newrelic.com/termsandconditions/privacy" target="_blank">Datenschutzerklärung</a>; <a href="https://www.privacyshield.gov/participant?id=a2zt0000000TNPiAAO&status=Active" target="_blank">Privacy Shield</a> (Gewährleistung Datenschutzniveau bei Verarbeitung von Daten in den USA); Löschung von Daten: Die aggregierten Daten werden nach drei Monaten gelöscht, die pseudonymisierten Daten nach sieben Tagen.
            </li>
            <li>
                485582684.53907496 2151888951.3459597 4352586255.888889 848880723.7585471 899473549.4150361 2215695245.4487534 1019018262.8262032 268154338.84348738 2699631041.5384617 268177527.26204818 971054389.6363636 956471121.0887574 1253412588.0660622 489292655.69320595 1288985127.7007723 197821383.2832551 610356745.0456674 1293770247.8980715 71812607.67741935 335228420.17021275
            </li>
        </ul>


        <h3>PRÄSENZEN IN SOZIALEN NETZWERKEN</h3>
        <p>
            Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und verarbeiten in diesem Rahmen Daten der Nutzer, um mit den dort aktiven Nutzern zu kommunizieren oder um Informationen über uns anzubieten. Wir weisen darauf hin, dass dabei Daten der Nutzer außerhalb des Raumes der Europäischen Union verarbeitet werden können. Hierdurch können sich für die Nutzer Risiken ergeben, weil so z.B. die Durchsetzung der Rechte der Nutzer erschwert werden könnte. Im Hinblick auf US-Anbieter, die unter dem Privacy-Shield zertifiziert sind oder vergleichbare Garantien eines sicheren Datenschutzniveaus bieten, weisen wir darauf hin, dass sie sich damit verpflichten, die Datenschutzstandards der EU einzuhalten. Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall für Marktforschungs- und Werbezwecke verarbeitet. So können z.B. anhand des Nutzungsverhaltens und sich daraus ergebender Interessen der Nutzer Nutzungsprofile erstellt werden. Die Nutzungsprofile können wiederum verwendet werden, um z.B. Werbeanzeigen innerhalb und außerhalb der Netzwerke zu schalten, die mutmaßlich den Interessen der Nutzer entsprechen. Zu diesen Zwecken werden im Regelfall Cookies auf den Rechnern der Nutzer gespeichert, in denen das Nutzungsverhalten und die Interessen der Nutzer gespeichert werden. Ferner können in den Nutzungsprofilen auch Daten unabhängig der von den Nutzern verwendeten Geräte gespeichert werden (insbesondere, wenn die Nutzer Mitglieder der jeweiligen Plattformen sind und bei diesen eingeloggt sind). Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der Widerspruchsmöglichkeiten (Opt-Out) verweisen wir auf die Datenschutzerklärungen und Angaben der Betreiber der jeweiligen Netzwerke. Auch im Fall von Auskunftsanfragen und der Geltendmachung von Betroffenenrechten weisen wir darauf hin, dass diese am effektivsten bei den Anbietern geltend gemacht werden können. Nur die Anbieter haben jeweils Zugriff auf die Daten der Nutzer und können direkt entsprechende Maßnahmen ergreifen und Auskünfte geben. Sollten Sie dennoch Hilfe benötigen, dann können Sie sich an uns wenden.
        </p>
        <ul>
            <li>
                Verarbeitete Datenarten: Bestandsdaten (z.B. Namen, Adressen), Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos), Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).
            </li>
            <li>
                Betroffene Personen: Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
            </li>
            <li>
                Zwecke der Verarbeitung: Kontaktanfragen und Kommunikation, Tracking (z.B. interessens-/verhaltensbezogenes Profiling, Nutzung von Cookies), Remarketing, Reichweitenmessung (z.B. Zugriffsstatistiken, Erkennung wiederkehrender Besucher).
            </li>
            <li>
                Rechtsgrundlagen: Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
            </li>
        </ul>

        <h3>EINGESETZTE DIENSTE UND DIENSTANBIETER:</h3>
        <ul>
            <li>
                Google Fonts: Wir binden die Schriftarten ("Google Fonts") des Anbieters Google ein, wobei die Daten der Nutzer allein zu Zwecken der Darstellung der Schriftarten im Browser der Nutzer verwendet werden. Die Einbindung erfolgt auf Grundlage unserer berechtigten Interessen an einer technisch sicheren, wartungsfreien und effizienten Nutzung von Schriftarten, deren einheitlicher Darstellung sowie unter Berücksichtigung möglicher lizenzrechtlicher Restriktionen für deren Einbindung. Dienstanbieter: Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; <a href="https://fonts.google.com/" target="_blank">Website</a>; <a href="https://policies.google.com/privacy" target="_blank">Datenschutzerklärung</a>; <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active" target="_blank">Privacy Shield</a> (Gewährleistung Datenschutzniveau bei Verarbeitung von Daten in den USA)
            </li>
            <li>
                Google Maps: Wir binden die Landkarten des Dienstes "Google Maps" des Anbieters Google ein. Zu den verarbeiteten Daten können insbesondere IP-Adressen und Standortdaten der Nutzer gehören, die jedoch nicht ohne deren Einwilligung (im Regelfall im Rahmen der Einstellungen ihrer Mobilgeräte vollzogen), erhoben werden; Dienstanbieter: Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; <a href="https://cloud.google.com/maps-platform" target="_blank">Website</a>; <a href="https://policies.google.com/privacy" target="_blank">Datenschutzerklärung</a>; <a href="https://www.privacyshield.gov/participant?id=a2zt0000000TRkEAAW&status=Active" target="_blank">Privacy Shield</a> (Gewährleistung Datenschutzniveau bei Verarbeitung von Daten in den USA); Widerspruchsmöglichkeit (Opt-Out): <a href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">Opt-Out-Plugin</a>, <a href="https://adssettings.google.com/authenticated" target="_blank">Einstellungen für die Darstellung von Werbeeinblendungen</a>.
            </li>
            <li>
                YouTube-Videos: Videoinhalte; Dienstanbieter: Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; <a href="https://www.youtube.com" target="_blank">Website</a>; <a href="https://policies.google.com/privacy" target="_blank">Datenschutzerklärung</a>; <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active" target="_blank">Privacy Shield</a> (Gewährleistung Datenschutzniveau bei Verarbeitung von Daten in den USA); Widerspruchsmöglichkeit (Opt-Out): <a href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">Opt-Out-Plugin</a>, <a href="https://adssettings.google.com/authenticated" target="_blank">Einstellungen für die Darstellung von Werbeeinblendungen</a>.
            <li>
                Google Analytics: Wir setzen auf Grundlage unserer berechtigten Interessen (d.h. Interesse an der Analyse, Optimierung und wirtschaftlichem Betrieb unseres Onlineangebotes im Sinne des Art. 6 Abs. 1 lit. f. DSGVO) Google Analytics, einen Webanalysedienst der Google LLC ("Google") ein. Google verwendet Cookies. Die durch das Cookie erzeugten Informationen über Benutzung des Onlineangebotes durch die Nutzer werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Google ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine Garantie, das <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active" target="_blank">europäische Datenschutzrecht</a> einzuhalten. Google wird diese Informationen in unserem Auftrag benutzen, um die Nutzung unseres Onlineangebotes durch die Nutzer auszuwerten, um Reports über die Aktivitäten innerhalb dieses Onlineangebotes zusammenzustellen und um weitere, mit der Nutzung dieses Onlineangebotes und der Internetnutzung verbundene Dienstleistungen, uns gegenüber zu erbringen. Dabei können aus den verarbeiteten Daten pseudonyme Nutzungsprofile der Nutzer erstellt werden. Wir setzen Google Analytics nur mit aktivierter IP-Anonymisierung ein. Das bedeutet, die IP-Adresse der Nutzer wird von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Die von dem Browser des Nutzers übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Die Nutzer können die Speicherung der Cookies durch eine entsprechende Einstellung ihrer Browser-Software verhindern; die Nutzer können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf ihre Nutzung des Onlineangebotes bezogenen Daten an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter folgendem Link verfügbare <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">Browser-Plugin</a> herunterladen und installieren. Weitere Informationen zur Datennutzung durch Google, Einstellungs- und Widerspruchsmöglichkeiten, erfahren Sie in der Datenschutzerklärung von <a href="https://policies.google.com/technologies/ads" target="_blank">Google</a> sowie in den Einstellungen für die Darstellung von Werbeeinblendungen durch <a href="https://adssettings.google.com/authenticated" target="_blank">Google</a>. Die personenbezogenen Daten der Nutzer werden nach 14 Monaten gelöscht oder anonymisiert.
            </li>
        </ul>

        <h3>14. LÖSCHUNG VON DATEN</h3>
        <p>
            Die von uns verarbeiteten Daten werden nach Maßgabe der gesetzlichen Vorgaben gelöscht, sobald deren zur Verarbeitung erlaubten Einwilligungen widerrufen werden oder sonstige Erlaubnisse entfallen (z.B., wenn der Zweck der Verarbeitung dieser Daten entfallen ist oder sie für den Zweck nicht erforderlich sind). Sofern die Daten nicht gelöscht werden, weil sie für andere und gesetzlich zulässige Zwecke erforderlich sind, wird deren Verarbeitung auf diese Zwecke beschränkt. D.h., die Daten werden gesperrt und nicht für andere Zwecke verarbeitet. Das gilt z.B. für Daten, die aus handels- oder steuerrechtlichen Gründen aufbewahrt werden müssen oder deren Speicherung zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person erforderlich ist. Weitere Hinweise zu der Löschung von personenbezogenen Daten können ferner im Rahmen der einzelnen Datenschutzhinweise dieser Datenschutzerklärung erfolgen.
        </p>

        <h3>ÄNDERUNG UND AKTUALISIERUNG DER DATENSCHUTZERKLÄRUNG</h3>
        <p>
            Wir bitten Sie, sich regelmäßig über den Inhalt unserer Datenschutzerklärung zu informieren. Wir passen die Datenschutzerklärung an, sobald die Änderungen der von uns durchgeführten Datenverarbeitungen dies erforderlich machen. Wir informieren Sie, sobald durch die Änderungen eine Mitwirkungshandlung Ihrerseits (z.B. Einwilligung) oder eine sonstige individuelle Benachrichtigung erforderlich wird. Sofern wir in dieser Datenschutzerklärung Adressen und Kontaktinformationen von Unternehmen und Organisationen angeben, bitten wir zu beachten, dass die Adressen sich über die Zeit ändern können und bitten die Angaben vor Kontaktaufnahme zu prüfen.
        </p>

        <h3>RECHTE DER BETROFFENEN PERSONEN</h3>
        <p>
            Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte zu, die sich insbesondere aus Art. 15 bis 18 und 21 DSGVO ergeben:
        </p>
        <ul>
            <li>
                Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling. Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.
                Widerrufsrecht bei Einwilligungen: Sie haben das Recht, erteilte Einwilligungen jederzeit zu widerrufen.
            </li>
            <li>
                Auskunftsrecht: Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob betreffende Daten verarbeitet werden und auf Auskunft über diese Daten sowie auf weitere Informationen und Kopie der Daten entsprechend den gesetzlichen Vorgaben.
            </li>
            <li>
                Recht auf Berichtigung: Sie haben entsprechend den gesetzlichen Vorgaben das Recht, die Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden unrichtigen Daten zu verlangen.
            </li>
            <li>
                Recht auf Löschung und Einschränkung der Verarbeitung: Sie haben nach Maßgabe der gesetzlichen Vorgaben das Recht, zu verlangen, dass Sie betreffende Daten unverzüglich gelöscht werden, bzw. alternativ nach Maßgabe der gesetzlichen Vorgaben eine Einschränkung der Verarbeitung der Daten zu verlangen.
            </li>
            <li>
                Recht auf Datenübertragbarkeit: Sie haben das Recht, Sie betreffende Daten, die Sie uns bereitgestellt haben, nach Maßgabe der gesetzlichen Vorgaben in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten oder deren Übermittlung an einen anderen Verantwortlichen zu fordern.
            </li>
            <li>
                Beschwerde bei Aufsichtsbehörde: Sie haben ferner nach Maßgabe der gesetzlichen Vorgaben das Recht, bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat Ihres gewöhnlichen Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes Beschwerde einzulegen, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt.
            </li>
        </ul>

        <h3>BEGRIFFSDEFINITIONEN</h3>
        <p>
            In diesem Abschnitt erhalten Sie eine Übersicht über die in dieser Datenschutzerklärung verwendeten Begrifflichkeiten. Viele der Begriffe sind dem Gesetz entnommen und vor allem im Art. 4 DSGVO definiert. Die gesetzlichen Definitionen sind verbindlich. Die nachfolgenden Erläuterungen sollen dagegen vor allem dem Verständnis dienen. Die Begriffe sind alphabetisch sortiert.
        </p>
        <ul>
            <li>
                Affiliate-Nachverfolgung: Im Rahmen der Affiliate-Nachverfolgung werden Links, mit deren Hilfe die verlinkenden Webseiten Nutzer zu Webseiten mit Produkt- oder sonstigen Angeboten verweisen, protokolliert. Die Betreiber der jeweils verlinkenden Webseiten können eine Provision erhalten, wenn Nutzer diesen sogenannten Affiliate-Links folgen und anschließend die Angebote wahrnehmen (z.B. Waren kaufen oder Dienstleistungen in Anspruch nehmen). Hierzu ist es erforderlich, dass die Anbieter nachverfolgen können, ob Nutzer, die sich für bestimmte Angebote interessieren, diese anschließend auf die Veranlassung der Affiliate-Links wahrnehmen. Daher ist es für die Funktionsfähigkeit von Affiliate-Links erforderlich, dass sie um bestimmte Werte ergänzt werden, die ein Bestandteil des Links werden oder anderweitig, z.B. in einem Cookie, gespeichert werden. Zu den Werten gehören insbesondere die Ausgangswebseite (Referrer), der Zeitpunkt, eine Online-Kennung der Betreiber der Webseite, auf der sich der Affiliate-Link befand, eine Online-Kennung des jeweiligen Angebotes, eine Online-Kennung des Nutzers als auch nachverfolgungsspezifische Werte, wie, z.B. Werbemittel-ID, Partner-ID und Kategorisierungen.
            </li>
            <li>
                Besuchsaktionsauswertung: "Besuchsaktionsauswertung" (englisch "Conversion Tracking") bezeichnet ein Verfahren, mit dem die Wirksamkeit von Marketingmaßnahmen festgestellt werden kann. Dazu wird im Regelfall ein Cookie auf den Geräten der Nutzer innerhalb der Webseiten, auf denen die Marketingmaßnahmen erfolgen, gespeichert und dann erneut auf der Zielwebseite abgerufen. Beispielsweise können wir so nachvollziehen, ob die von uns auf anderen Webseiten geschalteten Anzeigen erfolgreich waren).
            </li>
            <li>
                Content Delivery Network (CDN): Ein "Content Delivery Network" (CDN) ist ein Dienst, mit dessen Hilfe Inhalte eines Onlineangebotes, insbesondere große Mediendateien, wie Grafiken oder Programm-Skripte mit Hilfe regional verteilter und über das Internet verbundener Server, schneller und sicherer ausgeliefert werden können.
            </li>
            <li>
                Cross-Device Tracking: Das Cross-Device Tracking ist eine Form des Trackings, bei der Verhaltens- und Interessensinformationen der Nutzer geräteübergreifend in sogenannten Profilen erfasst werden, indem den Nutzern eine Onlinekennung zugeordnet wird. Hierdurch können die Nutzerinformationen unabhängig von verwendeten Browsern oder Geräten (z.B. Mobiltelefonen oder Desktopcomputern) im Regelfall für Marketingzwecke analysiert werden. Die Onlinekennung ist bei den meisten Anbietern nicht mit Klardaten, wie Namen, Postadressen oder E-Mail-Adressen, verknüpft.
            </li>
            <li>
                IP-Masking: Als "IP-Masking" wird eine Methode bezeichnet, bei der das letzte Oktett, d.h., die letzten beiden Zahlen einer IP-Adresse, gelöscht wird, damit die IP-Adresse nicht mehr der eindeutigen Identifizierung einer Person dienen kann. Daher ist das IP-Masking ein Mittel zur Pseudonymisierung von Verarbeitungsverfahren, insbesondere im Onlinemarketing
            </li>
            <li>
                Interessenbasiertes und verhaltensbezogenes Marketing: Von interessens- und/oder verhaltensbezogenem Marketing spricht man, wenn potentielle Interessen von Nutzern an Anzeigen und sonstigen Inhalten möglichst genau vorbestimmt werden. Dies geschieht anhand von Angaben zu deren Vorverhalten (z.B. Aufsuchen von bestimmten Webseiten und Verweilen auf diesen, Kaufverhaltens oder Interaktion mit anderen Nutzern), die in einem sogenannten Profil gespeichert werden. Zu diesen Zwecken werden im Regelfall Cookies eingesetzt.
            </li>
            <li>
                Personenbezogene Daten: "Personenbezogene Daten" sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden "betroffene Person") beziehen; als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung (z.B. Cookie) oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.
            </li>
            <li>
                Profiling: Als "Profiling" wird jede Art der automatisierten Verarbeitung personenbezogener Daten bezeichnet, die darin besteht, dass diese personenbezogenen Daten verwendet werden, um bestimmte persönliche Aspekte, die sich auf eine natürliche Person beziehen (je nach Art des Profilings gehören dazu Informationen betreffend das Alter, das Geschlecht, Standortdaten und Bewegungsdaten, Interaktion mit Webseiten und deren Inhalten, Einkaufsverhalten, soziale Interaktionen mit anderen Menschen) zu analysieren, zu bewerten oder, um sie vorherzusagen (z.B. die Interessen an bestimmten Inhalten oder Produkten, das Klickverhalten auf einer Webseite oder den Aufenthaltsort). Zu Zwecken des Profilings werden häufig Cookies und Web-Beacons eingesetzt.
            </li>
            <li>
                Reichweitenmessung: Die Reichweitenmessung (auch als Web Analytics bezeichnet) dient der Auswertung der Besucherströme eines Onlineangebotes und kann das Verhalten oder Interessen der Besucher an bestimmten Informationen, wie z.B. Inhalten von Webseiten, umfassen. Mit Hilfe der Reichweitenanalyse können Webseiteninhaber z.B. erkennen, zu welcher Zeit Besucher ihre Webseite besuchen und für welche Inhalte sie sich interessieren. Dadurch können sie z.B. die Inhalte der Webseite besser an die Bedürfnisse ihrer Besucher anpassen. Zu Zwecken der Reichweitenanalyse werden häufig pseudonyme Cookies und Web-Beacons eingesetzt, um wiederkehrende Besucher zu erkennen und so genauere Analysen zur Nutzung eines Onlineangebotes zu erhalten.
            </li>
            <li>
                Remarketing: Vom "Remarketing" bzw. "Retargeting" spricht man, wenn z.B. zu Werbezwecken vermerkt wird, für welche Produkte sich ein Nutzer auf einer Webseite interessiert hat, um den Nutzer auf anderen Webseiten an diese Produkte, z.B. in Werbeanzeigen, zu erinnern.
            </li>
            <li>
                Servermonitoring und Fehlererkennung: Mit Hilfe des Servermonitorings und der Fehlererkennung stellen wir die Verfügbarkeit und Integrität unseres Onlineangebotes sicher und verwenden die verarbeiteten Daten, um unser Onlineangebot technisch zu optimieren. Verarbeitet werden Leistungs-, Auslastungs- und vergleichbare technische Werte, welche Auskunft über die Stabilität und etwaige Auffälligkeiten unseres Onlineangebotes geben. Im Fall von Fehlern und Auffälligkeit werden einzelne Anfragen der Nutzer unseres Onlineangebotes erfasst, um Problemquellen zu identifizieren und zu beheben.
            </li>
            <li>
                Tracking: Vom "Tracking" spricht man, wenn das Verhalten von Nutzern über mehrere Onlineangebote hinweg nachvollzogen werden kann. Im Regelfall werden im Hinblick auf die genutzten Onlineangebote Verhaltens- und Interessensinformationen in Cookies oder auf Servern der Anbieter der Trackingtechnologien gespeichert (sogenanntes Profiling). Diese Informationen können anschließend z.B. eingesetzt werden, um den Nutzern Werbeanzeigen anzuzeigen, die voraussichtlich deren Interessen entsprechen.
            </li>
            <li>
                Verantwortlicher: Als "Verantwortlicher" wird die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet, bezeichnet.
            </li>
            <li>
                Verarbeitung: "Verarbeitung" ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten. Der Begriff reicht weit und umfasst praktisch jeden Umgang mit Daten, sei es das Erheben, das Auswerten, das Speichern, das Übermitteln oder das Löschen.
            </li>
            <li>
                Zielgruppenbildung: Von Zielgruppenbildung (bzw. "Custom Audiences") spricht man, wenn Zielgruppen für Werbezwecke, z.B. Einblendung von Werbeanzeigen, bestimmt werden. So kann z.B. anhand des Interesses eines Nutzers an bestimmten Produkten oder Themen im Internet geschlussfolgert werden, dass dieser Nutzer sich für Werbeanzeigen für ähnliche Produkte oder den Onlineshop, in dem er die Produkte betrachtet hat, interessiert. Von "Lookalike Audiences" (bzw. ähnlichen Zielgruppen) spricht man wiederum, wenn die als geeignet eingeschätzten Inhalte Nutzern angezeigt werden, deren Profile bzw. Interessen mutmaßlich den Nutzern, zu denen die Profile gebildet wurden, entsprechen. Zu Zwecken der Bildung von Custom Audiences und Lookalike Audiences werden im Regelfall Cookies und Web-Beacons eingesetzt.
            </li>
        </ul>
    </div>
</template>
<style>
    p {
        margin-bottom: 10px;
    }

    li {
      padding-left: 13px;
      text-indent: -13px;
      margin-bottom: 10px;
    }

    li::before {
      content: "• ";
      color: #397D78;
    }

    .cotainer {
        max-width: 860px;
        padding: 0 30px;
        margin: 50px auto;
    }

    h1,
    h2,
    h3,
    h4 {
        color: #397D78;
        font-weight: 600;
        font-size: 25px;
        line-height: 1.2;
        margin: 50px 0 30px;
    }

    a {
        cursor: pointer;
        color: #397D78;
        font-weight: 600;
    }

    a:hover {
        text-decoration: underline;
    }
</style>