<template>
    <loading-view :loading="loading">
        <container class="grid grid-cols-3 gap-6">
            <project-details class=""
                             v-for="project in projects"
                             :key="project.id"
                             :project="project">
            </project-details>
        </container>
    </loading-view>
</template>
<script>
import ApiProject from '../apis/Project'
import ProjectDetails from '../components/ProjectDetails'
export default {
    components: {
        ProjectDetails
    },
    data: () => ({
        loading: true,
        projects: []
    }),
    mounted() {
        this.fetchProjects()
    },
    methods: {
        fetchProjects() {
            ApiProject.index().then(({data}) => {
                this.projects = data.data
                this.loading = false
            })
        }
    }
}
</script>