<template>
    <loading-view :loading="loading">
        <container class="my-8 md:my-16 text-left flex items-end">
            <div class="w-1/3">
                <img class="border-solid border-4 border-primary w-full"
                     src="https://images.unsplash.com/photo-1556740738-b6a63e27c4df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=448&q=80" alt="Woman paying for a purchase">
            </div>
            <div class="flex-1 mt-4 md:mt-0 md:ml-6">
                <h1 class="text-primary text-3xl font-bold mb-2" v-text="project.title"></h1>
                <div class="subhead text-xl">
                    <span>{{ owner.first_name }} {{ owner.last_name }}</span> | <span v-text="owner.description"></span>
                </div>
            </div>
        </container>
        <container class="text-left">
            <div class="flex my-10">
                <company-details
                        class="w-1/3 mr-5"
                        :company="company"></company-details>
                <div
                        class="w-2/3 px-10 py-10 ml-5 bg-teal-100 text-lg"
                        v-text="project.description"></div>
            </div>
            <div class="flex my-10">
                <challanges class="w-1/2 mr-5">{{ company.challenges }}</challanges>
                <strengths class="w-1/2 ml-5">{{ company.strengths }}</strengths>
            </div>
        </container>

        <container class="text-left">
            <support :project="project"></support>
        </container>


    </loading-view>
</template>
<script>
    import ProjectApi from '@/apis/Project'
    import CompanyDetails from "@/components/Company/Details"
    import Challanges from "@/components/Company/Challanges"
    import Strengths from "@/components/Company/Strengths"
    import Support from "@/components/Support"
    export default {
        props: {
            projectId: Number,
        },
        components: {
          CompanyDetails, Challanges, Strengths, Support
        },
        data: () => ({
           loading: true,
           project: {},
        }),
        mounted() {
            this.init()
        },
        computed: {
            companyName: function() {
                return this.$_.get(this.company, 'name', '')
            },
            company: function() {
              return this.$_.get(this.project, 'owner.company', {})
            },
            owner: function() {
                return this.$_.get(this.project, 'owner.person', {})
            }
        },
        methods: {
            init() {
                ProjectApi.detail(this.projectId).then(({data}) => {
                    this.project = data.data
                    this.loading = false

                })
            }
        }
    }
</script>