<template>
    <nav id="header" class="w-full z-30 top-0 py-12 flex items-start">
        <div class="w-full container mx-auto flex flex-wrap align-top justify-center mt-0 px-6 py-3">
            <span class="slogan align-text-top text-2xl">More than I, more than you…</span>
            <div class="order-1 md:order-2">
                <router-link to="/">
                    <a class="flex items-center tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl ">
                        <weyounite-logo class="h-32"></weyounite-logo>
                    </a>
                </router-link>
            </div>
        </div>
        <div class="flex px-10">
            <router-link :to="{name: 'Search'}">
                <search-icon class="w-12 h-12 mx-5"></search-icon>
            </router-link>

            <auth-buttons class="flex" v-if="!loggedIn"></auth-buttons>
            <account-buttons class="flex" v-if="loggedIn"></account-buttons>
        </div>
    </nav>
</template>
<script>
    import WeyouniteLogo from './WeyouniteLogo'
    import SearchIcon from '@/components/Icons/SearchIcon'
    import AuthButtons from '@/components/auth/AuthButtons'
    import AccountButtons from "./auth/AccountButtons";

    export default {
        components: {
            WeyouniteLogo, SearchIcon, AuthButtons, AccountButtons
        },
        computed: {
            loggedIn() {
                return this.$store.getters.isLogged
            }
        }
    }
</script>