<template>
  <div class="flex">
    <div
      class="h-32 lg:h-auto lg:w-32 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
      :style="`background-image: url('https://picsum.photos/200?random=${project.id}')`"
    ></div>
    <div
      class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2" v-text="project.title"></div>
        <p
          class="text-gray-700 text-base text-left"
          v-html="_shortener(project.description, 150,150)"
        ></p>
      </div>
      <div class="flex items-center justify-end border-t border-teal-500 pt-4">
        <router-link
                class="px-6 py-2 bg-teal-700 rounded text-white text-2xl font-bold hover:bg-teal-500"
                :to="{ name: 'ProjectDetail', params: { project: project.id }}">mehr</router-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ['project']
}
</script>