<template>
    <loading-view :loading="loading">
        <div v-if="error"
        class="py-4 px-8 text-2xl text-red-700 bg-red-200">
            <span v-text="errorMessage"></span>
            <router-link :to="{name: 'ProjectIndex'}">
                Schau doch hier...
            </router-link>
        </div>
        <div v-else>
            <pre>{{ searchResult }}</pre>
        </div>
    </loading-view>
</template>

<script>
    import ProjectApi from "../apis/Project";
    export default {
        name: "SearchProject",
        data: () => ({
            loading: true,
            error: false,
            errorMessage: '',
            searchResult: [],
            currentLocation: {
                located: false,
                error: false,
                loading: true,
                lat: null,
                lng: null,
                zoom: 12
            }
        }),
        watch: {
            "currentLocation.located": function (val) {
                if (val === true) {
                    this.$emit('doSearch')
                }
            },
        },
        mounted() {
            this.getLocation()
            this.$on('doSearch', this.handleSearch)
        },
        methods: {
            handleSearch() {
                ProjectApi.search(this.currentLocation).then(({data}) => {
                    this.loading = false
                    this.searchResult = data
                }).catch((error) => {
                    console.log(error.response);
                    this.loading = false
                    this.error = true
                    this.errorMessage = "Ein Fehler ist aufgetreten!"
                })
            },
            getLocation() {
                let parent = this
                navigator.geolocation.getCurrentPosition(function(position) {
                    console.log("Got lat/lng " + position.coords.latitude + "/" + position.coords.longitude);
                    parent.currentLocation.lat = position.coords.latitude
                    parent.currentLocation.lng = position.coords.longitude

                    // Disable loading animation
                    parent.currentLocation.loading = false;
                    parent.currentLocation.located = true
                    console.log("Got position");
                }, function(err) {
                    console.log("Catched error: " + err.code + "=>" + err.messages)
                    handleLocationError(true);
                }, {timeout:5000});

                function handleLocationError(browserHasGeolocation) {
                    console.log(browserHasGeolocation)
                    parent.currentLocation.error = true
                    parent.currentLocation.loading = false
                    parent.currentLocation.located = false
                }
            }
        }
    }
</script>

<style scoped>

</style>