<template>
    <div class="border-solid rounded-lg border-2 border-primary py-5 px-10">
        <h2 class="text-primary text-2xl font-bold">You.niter werden</h2>
        <div v-if="supportDone">
            <p>Vielen Dank! Ein Projektverantwortlicher wird sich bei dir melden!</p>
        </div>
        <div v-else>
            <p>Wählen Sie die Art der Unterstützung aus die an besten zu Ihnen passt.</p>
            <div class="mb-5">
                <label class="inline-flex items-center my-2 cursor-forbidden">
                    <input type="radio"
                           class="form-radio h-10 w-10 cursor-forbidden"
                           name="supportType"
                           disabled
                           value="donate" v-model="supportType">
                    <span class="ml-5">
                    <p class="font-bold">Spenden</p>
                    <p>Spenden Sie zur Unterstützung einen Betrag Ihrer Wahl. Sie erhalten eine Spendenquittung.</p>
                </span>
                </label>
                <label class="inline-flex items-center my-2 cursor-forbidden">
                    <input type="radio"
                           class="form-radio h-10 w-10  cursor-forbidden"
                           name="supportType"
                           disabled
                           value="coupon" v-model="supportType">
                    <span class="ml-5">
                    <p class="font-bold">Gutschein erwerber</p>
                    <p>Jetzt zahlen und später genießen. Erwerben Sie einen Gutschein für Ihren lieblings You.nitee.</p>
                </span>
                </label>
                <label class="inline-flex items-center my-2 cursor-pointer">
                    <input type="radio"
                           class="form-radio h-10 w-10 cursor-pointer"
                           name="supportType"
                           value="message"
                           v-model="supportType">
                    <span class="ml-5">
                    <p class="font-bold">Direkt Hilfe</p>
                    <p>Treten Sie mit Ihrem You.nitee in Kontakt und helfen direkt mit Ihrem Wissen und:oder Ihren beiden Händen.</p>
                </span>
                </label>
            </div>
            <div class="flex flex-row-reverse">
                <button class="px-6 py-2 bg-teal-700 rounded text-white text-2xl font-bold hover:bg-teal-500"
                        @click="handleSupport">weiter</button>
                <modal v-if="showSendMessage" @close="showSendMessage=false">
                    <message-send :to="project.owner.id"
                                  @close="handleClose">
                    </message-send>
                </modal>
            </div>
        </div>
    </div>
</template>
<script>
    import MessageSend from "./Messages/Send";
    export default {
        components: {
            MessageSend
        },
        props: {
            project: Object
        },
        data: () => ({
            supportType: null,
            showSendMessage: false,
            supportDone: false
        }),
        methods: {
            handleClose() {
                this.showSendMessage = false
                this.supportDone = true
            },
            handleSupport() {
                if (this.supportType !== 'message') {
                    alert('method not supported')
                    return
                }
                this.showSendMessage = true
            }
        }
    }
</script>