<template>
    <div class="svgicon">
        <svg width="100%" height="100%" viewBox="0 0 326 526" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-6699.5,-6758.65)">
        <g transform="matrix(4.16667,0,0,4.16667,3350,-3257.51)">
            <path d="M870.984,2530L815.015,2530C814.338,2530 813.789,2529.45 813.789,2528.78L813.789,2510.31C813.789,2509.64 814.338,2509.09 815.015,2509.09L824.191,2509.09L825.374,2499.11C825.447,2498.49 825.97,2498.03 826.591,2498.03L833.79,2498.03L836.717,2471.85L825.255,2477.86C823.265,2478.9 820.897,2478.73 819.077,2477.41C817.256,2476.09 816.362,2473.9 816.742,2471.69L819.827,2453.75C820.018,2452.65 819.65,2451.52 818.845,2450.74L814.55,2446.56C814.536,2446.55 814.522,2446.54 814.509,2446.52L805.776,2438.04C804.165,2436.47 803.596,2434.17 804.292,2432.04C804.987,2429.91 806.802,2428.38 809.028,2428.06L827.09,2425.44C828.203,2425.28 829.164,2424.58 829.66,2423.58L837.739,2407.26C838.734,2405.25 840.75,2404 843,2404C845.25,2404 847.266,2405.25 848.261,2407.26L855.879,2422.65C855.885,2422.66 855.889,2422.67 855.893,2422.68L856.339,2423.58C856.837,2424.59 857.798,2425.28 858.91,2425.44L861.824,2425.86C861.849,2425.87 861.873,2425.87 861.898,2425.88L876.972,2428.06C879.198,2428.38 881.013,2429.91 881.708,2432.04C882.404,2434.17 881.835,2436.47 880.224,2438.04L867.154,2450.74C866.349,2451.52 865.981,2452.65 866.171,2453.75L869.257,2471.69C869.637,2473.9 868.743,2476.09 866.922,2477.41C865.101,2478.73 862.735,2478.9 860.743,2477.86L849.282,2471.85L852.209,2498.03L859.407,2498.03C860.029,2498.03 860.552,2498.49 860.625,2499.11L861.808,2509.09L870.984,2509.09C871.66,2509.09 872.21,2509.64 872.21,2510.31L872.21,2528.78C872.21,2529.45 871.661,2530 870.984,2530ZM816.242,2527.55L869.758,2527.55L869.758,2511.53L816.242,2511.53L816.242,2527.55ZM826.66,2509.09L859.339,2509.09L858.319,2500.47L827.681,2500.47L826.66,2509.09ZM836.257,2498.03L849.742,2498.03L846.66,2470.47L844.589,2469.39C844.372,2469.27 844.147,2469.18 843.917,2469.12C843.87,2469.11 843.824,2469.1 843.777,2469.08C842.985,2468.9 842.144,2469 841.41,2469.39L839.338,2470.47L836.257,2498.03ZM845.773,2467.24L861.885,2475.69C863.062,2476.31 864.407,2476.21 865.481,2475.43C866.556,2474.65 867.064,2473.41 866.839,2472.1L863.754,2454.16C863.428,2452.27 864.059,2450.33 865.442,2448.99L878.511,2436.28C879.463,2435.36 879.786,2434.06 879.375,2432.79C878.964,2431.53 877.934,2430.67 876.619,2430.48L862.441,2428.42L845.773,2467.24ZM817.406,2445.92L820.558,2448.99C821.941,2450.33 822.572,2452.27 822.246,2454.17L819.16,2472.1C818.935,2473.41 819.443,2474.65 820.519,2475.43C821.593,2476.21 822.937,2476.31 824.114,2475.69L840.27,2467.22C841.245,2466.71 842.323,2466.49 843.399,2466.56L859.93,2428.06L858.558,2427.86C856.739,2427.6 855.155,2426.5 854.27,2424.91L817.406,2445.92ZM843,2406.45C841.671,2406.45 840.526,2407.16 839.939,2408.34L831.86,2424.66C831.005,2426.39 829.354,2427.59 827.443,2427.86L809.381,2430.48C808.065,2430.67 807.035,2431.53 806.624,2432.79C806.213,2434.06 806.536,2435.36 807.488,2436.28L815.579,2444.15L853.176,2422.71L846.062,2408.34L846.061,2408.34C845.474,2407.16 844.328,2406.45 843,2406.45ZM853.208,2523.65L832.791,2523.65C832.114,2523.65 831.565,2523.11 831.565,2522.43C831.565,2521.76 832.114,2521.21 832.791,2521.21L853.208,2521.21C853.885,2521.21 854.435,2521.76 854.435,2522.43C854.435,2523.11 853.885,2523.65 853.208,2523.65ZM857.524,2517.88L828.475,2517.88C827.799,2517.88 827.249,2517.34 827.249,2516.66C827.249,2515.99 827.799,2515.44 828.475,2515.44L857.524,2515.44C858.201,2515.44 858.75,2515.99 858.75,2516.66C858.75,2517.34 858.201,2517.88 857.524,2517.88Z" style="fill:rgb(3,168,156);fill-rule:nonzero;stroke:rgb(3,168,156);stroke-width:0.24px;"/>
        </g>
    </g>
</svg>
    </div>
</template>
<script>
    export default {

    }
</script>