<template>
    <div class="svgicon">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                class="fill-current"
                width="20"
                height="20"
                viewBox="0 0 20 20" role="presentation">

            <path
                    fill-rule="nonzero"
                    d="M6 4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6H1a1 1 0 1 1 0-2h5zM4 6v12h12V6H4zm8-2V2H8v2h4zM8 8a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1z"
            />
        </svg>
    </div>
</template>

<script>
    export default {
        name: "DeleteIcon"
    }
</script>

<style scoped>

</style>