<template>
    <div class="svgicon">
        <svg width="100%" height="100%" viewBox="0 0 246 246" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-5814.33,-7824.69)">
        <g transform="matrix(4.16667,0,0,4.16667,260.161,-10337.8)">
            <path d="M1339.95,4418L1364.01,4418C1367.84,4418 1371,4414.97 1371,4411.14L1371,4405.23C1371,4404.52 1370.43,4403.96 1369.72,4403.96C1369.02,4403.96 1368.45,4404.52 1368.45,4405.23L1368.45,4411.14C1368.45,4413.55 1366.43,4415.46 1364.01,4415.46L1339.95,4415.46C1337.52,4415.46 1335.55,4413.55 1335.55,4411.14L1335.55,4365.86C1335.55,4363.45 1337.52,4361.54 1339.95,4361.54L1364.01,4361.54C1366.43,4361.54 1368.45,4363.45 1368.45,4365.86L1368.45,4372.73C1368.45,4373.44 1369.02,4374 1369.72,4374C1370.43,4374 1371,4373.44 1371,4372.73L1371,4365.86C1371,4362.05 1367.84,4359 1364.01,4359L1339.95,4359C1336.12,4359 1333,4362.03 1333,4365.86L1333,4411.15C1333,4414.97 1336.12,4418 1339.95,4418Z" style="fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(4.16667,0,0,4.16667,260.161,-10329.5)">
            <path d="M1357.43,4377.2C1357.95,4376.73 1357.99,4375.94 1357.51,4375.41C1357.05,4374.89 1356.25,4374.86 1355.73,4375.33L1343.42,4386.56C1343.15,4386.8 1343,4387.14 1343,4387.5C1343,4387.87 1343.15,4388.21 1343.42,4388.45L1355.73,4399.68C1355.97,4399.9 1356.28,4400 1356.57,4400C1356.92,4400 1357.26,4399.86 1357.51,4399.58C1357.98,4399.05 1357.93,4398.22 1357.43,4397.75L1347.54,4388.72L1390.74,4388.72C1391.44,4388.72 1392,4388.15 1392,4387.45C1392,4386.74 1391.44,4386.17 1390.74,4386.17L1347.54,4386.17L1357.43,4377.2Z" style="fill-rule:nonzero;"/>
        </g>
    </g>
</svg>
    </div>
</template>
<script>
    export default {
        //
    }
</script>
