<template>
    <div class="svgicon">
        <svg width="100%" height="100%" viewBox="0 0 205 205" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(1,0,0,1,-2940.51,-10834.6)">
                <g transform="matrix(4.16667,0,0,4.16667,-2676.16,10292.9)">
                    <path d="M1372.53,130C1359.01,130 1348,140.997 1348,154.5C1348,159.514 1349.48,164.186 1352.16,168.174L1349.26,177.803C1349.14,178.088 1349.31,178.43 1349.65,178.487C1349.77,178.544 1349.88,178.544 1350,178.487L1359.41,175.239C1363.17,177.633 1367.68,179 1372.47,179C1385.99,179 1397,168.003 1397,154.5C1397.06,140.94 1386.05,130 1372.53,130ZM1372.53,131.14C1385.48,131.14 1395.92,141.566 1395.92,154.5C1395.92,167.434 1385.48,177.86 1372.53,177.86C1367.85,177.86 1363.46,176.493 1359.81,174.1C1359.64,173.986 1359.47,173.986 1359.29,174.043L1350.68,177.006L1353.31,168.174C1353.36,168.003 1353.31,167.833 1353.25,167.662C1350.62,163.787 1349.14,159.286 1349.14,154.386C1349.14,141.566 1359.64,131.14 1372.53,131.14Z" style="fill:rgb(58,168,156);fill-rule:nonzero;"/>
                </g>
            </g>
        </svg>
    </div>
</template>

<script>
    export default {
        name: "MessageIcon"
    }
</script>