<template>
    <div class="svgicon">
        <svg width="100%" height="100%" viewBox="0 0 50 43" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
             xmlns:serif="http://www.serif.com/"
             style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g transform="matrix(1,0,0,1,-25,-28.5343)">
                            <path d="M48,57.8L48,70.7C48,71 48.2,71.3 48.4,71.4C48.7,71.5 49,71.5 49.2,71.3L74.7,50.6C74.9,50.5 75,50.2 75,50C75,49.8 74.9,49.5 74.7,49.4L49.2,28.7C49,28.5 48.6,28.5 48.4,28.6C48.1,28.7 48,29 48,29.3L48,40.5C33.6,44.8 25,55.6 25,69.4L25,70.7C25,71 25.2,71.3 25.5,71.4L25.7,71.4C25.9,71.4 26.2,71.3 26.3,71.1C29.5,67.5 37.7,58.8 48,57.8ZM26.6,68.6C26.9,55.7 35.2,45.7 49,41.8C49.3,41.7 49.6,41.4 49.6,41L49.6,30.9L73,50L49.5,69.1L49.5,57C49.5,56.8 49.4,56.6 49.3,56.4C49.2,56.3 49,56.2 48.8,56.2C38.9,56.7 31,63.6 26.6,68.6Z"
                                  style="fill:rgb(57,125,120);fill-rule:nonzero;"/>
                        </g>
                    </svg>
    </div>
</template>
<script>
    export default {
        //s
    }
</script>