<template>
    <div class="svgicon">
        <svg width="100%" height="100%" viewBox="0 0 242 246" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-4749.35,-7805.6)">
        <g transform="matrix(4.16667,0,0,4.16667,132.685,-10356.9)">
            <clipPath id="_clip1">
                <path d="M1165.64,4415.61L1149.8,4399.28C1158.63,4389.42 1157.93,4374.07 1148.12,4365.21C1138.3,4356.34 1123.02,4357.04 1114.18,4366.9C1105.35,4376.75 1106.05,4392.1 1115.86,4400.97C1124.98,4409.13 1138.58,4409.27 1147.84,4401.25L1163.54,4417.58C1164.1,4418.14 1164.94,4418.14 1165.5,4417.58C1166.06,4417.02 1166.2,4416.17 1165.64,4415.61ZM1110.82,4383.09C1110.82,4371.26 1120.35,4361.69 1132.13,4361.69C1143.91,4361.69 1153.3,4371.26 1153.3,4383.09C1153.3,4394.91 1143.77,4404.34 1132.13,4404.34C1120.35,4404.34 1110.82,4394.77 1110.82,4383.09Z" clip-rule="nonzero"/>
            </clipPath>
            <g clip-path="url(#_clip1)">
                <rect x="1103" y="4354" width="68" height="69"/>
            </g>
        </g>
    </g>
</svg>

    </div>
</template>
<script>
    export default {
        //
    }
</script>
