<template>
    <div class="svgicon">
        <svg width="100%" height="100%" viewBox="0 0 246 246" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-5216.02,-7805.91)">
        <g transform="matrix(4.16667,0,0,4.16667,132.685,-10356.9)">
            <path d="M1278.92,4388.61C1278.92,4384.41 1253.74,4359.07 1249.46,4359.07C1233.19,4359.07 1220,4372.27 1220,4388.54C1220,4404.81 1233.19,4418 1249.46,4418C1265.73,4418 1278.92,4404.81 1278.92,4388.61ZM1249.46,4415C1244.07,4415 1239.04,4413.43 1234.84,4410.65C1234.84,4410.5 1234.92,4410.35 1234.92,4410.28C1234.92,4402.26 1241.44,4395.73 1249.46,4395.73C1257.48,4395.73 1264.01,4402.26 1264.01,4410.28C1264.01,4410.43 1264.01,4410.58 1264.08,4410.65C1259.88,4413.43 1254.86,4415 1249.46,4415ZM1242.87,4385.39C1242.87,4381.72 1245.86,4378.79 1249.46,4378.79C1253.06,4378.79 1256.06,4381.72 1256.06,4385.39C1256.06,4388.76 1253.59,4391.54 1250.29,4391.91C1249.99,4391.91 1249.76,4391.99 1249.46,4391.99C1249.16,4391.99 1248.94,4391.99 1248.64,4391.91C1245.34,4391.54 1242.87,4388.69 1242.87,4385.39ZM1267.61,4407.8C1266.7,4401.13 1262.21,4395.58 1256.13,4393.19C1258.38,4391.31 1259.81,4388.46 1259.81,4385.39C1259.81,4379.69 1255.16,4375.04 1249.46,4375.04C1243.77,4375.04 1239.12,4379.62 1239.12,4385.31C1239.12,4388.46 1240.54,4391.31 1242.79,4393.19C1236.72,4395.58 1232.22,4401.13 1231.32,4407.8C1226.22,4403.01 1223,4396.11 1223,4388.54C1223,4373.92 1234.84,4362.07 1249.46,4362.07C1252.99,4362.07 1275.93,4385.39 1275.93,4388.54C1275.93,4396.11 1272.7,4403.01 1267.61,4407.8Z" style="fill-rule:nonzero;"/>
        </g>
    </g>
</svg>

    </div>
</template>
<script>
    export default {
        //
    }
</script>