<template>
    <div id="app">
        <navigation class="font-bhain"></navigation>

        <router-view/>

        <footer>
            <container>
                <span>
                    <a class="footer-link" href="mailto:we.younite@hotmail.com">Kontakt</a>
                </span>
                |
                <span>
                    <router-link class="footer-link" to="/imprint">Impressum</router-link>
                </span>
                |
                <span>
                    <router-link class="footer-link" to="/privacy"> Datenschutz</router-link>
                </span>
                |
                <span>
                    <router-link class="footer-link" to="/policy"> Nutzungsbedingungen</router-link>
                </span>
            </container>
        </footer>
    </div>
</template>
<script>
    import Navigation from './components/Navigation'
    export default {
        components: {
            Navigation
        }
    }
</script>
<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
    }

    #nav {
        padding: 30px;
    }

    #nav a {
        font-weight: bold;
        color: #2c3e50;
    }

    #nav a.router-link-exact-active {
        color: #42b983;
    }

    footer {
        color: #fff;
        background: #397D78;
        font-weight: 600;
        padding: 30px 20px 80px;
    }

   .footer-link {
        color: #fff;
   }

    footer span {
        margin: 0 10px;
    }
</style>
