<template>
    <div>
        <button class="mx-5"
                @click="$router.push({name: 'MyAccount'})">
            <user-icon class="w-12 h-12"></user-icon>
        </button>
        <button class="mx-5"
                @click="$store.dispatch('logout')">
            <logout-icon class="w-12 h-12"></logout-icon>
        </button>
    </div>
</template>

<script>
    import LogoutIcon from '@/components/Icons/LogoutIcon'
    import UserIcon from "../Icons/UserIcon";

    export default {
        name: "AccountButtons",
        components: {
            LogoutIcon, UserIcon
        }
    }
</script>