<template>
<div>
    <button class="mx-5" @click="register()">
        <register-icon class="w-12 h-12"></register-icon>
    </button>
    <button class="mx-5" @click="login()">
        <login-icon class="w-12 h-12"></login-icon>
    </button>

    <modal v-if="show_registration" @close="show_registration=false">
        <register-form @close="show_registration=false"></register-form>
    </modal>

    <modal v-if="show_login" @close="show_login=false">
        <login-form @close="show_login=false"></login-form>
    </modal>


</div>
</template>

<script>

import Register from './Register'
import Login from './Login'
import Modal from '@/components/Modal'
import LoginIcon from '@/components/Icons/LoginIcon'
import RegisterIcon from '@/components/Icons/RegisterIcon'
export default {

    data() {
        return {
            show_login: false,
            show_registration: false,
        }
    },
    components: {
        Modal, LoginIcon, RegisterIcon,
        'register-form': Register,
        'login-form': Login
    },
    methods: {
        login() {
            this.show_login = !this.show_login;
            this.show_registration = false;
        },
        register() {
            this.show_registration = !this.show_registration;
            this.show_login = false;
        }
    }

}
</script>