<template>
    <!-- TODO: Design -> Complete Design is missing. This should be shown inside a like a bootstrap modal. Just copied it from a other project -->
    <div class="modal-content py-4 text-left px-6">
        <!--Title-->
        <div class="flex justify-between items-center pb-3">
            <p class="text-2xl font-bold">Login</p>
        </div>

        <form autocomplete="off" @submit.prevent="submit" method="post">

            <div id="email-row" class="mb-4 border-b border-b-2 border-teal-500 py-2">
                <label for="email"
                       class="block text-gray-700 text-sm font-bold mb-2">E-Mail</label>

                <input type="email"
                       id="email"
                       class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                       placeholder="user@example.org" v-model="email"
                       required>

            </div>

            <div id="password-row" class="mb-4 border-b border-b-2 border-teal-500 py-2">
                <label for="password"
                       class="block text-gray-700 text-sm font-bold mb-2">Passwort</label>

                <input type="password"
                       id="password"
                       class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                       v-model="password" required>
            </div>
        </form>
        <!--Footer-->
        <div class="flex justify-end pt-2">
            <button
                @click.prevent="submit"
                type="submit"
                class="bg-primary hover:bg-teal-600 text-white font-bold py-2 px-4 rounded"
                >Login
            </button>
            <button class="border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" @click="$emit('close')">
                Close
            </button>
        </div>

    </div>
</template>
<script>

    export default {
        data() {
            return {
                email: null,
                password: null,
                has_error: false,
                logging_in: false,
                remember_me: false
            }
        },
        mounted() {
            //
        },
        methods: {
            submit() {
                this.logging_in = true;
                this.$store.dispatch('login', {email:this.email, password: this.password})
                    .then(() => {
                        this.logging_in = false;
                        localStorage.setItem("auth", "true");
                        this.$emit('close')
                    })
            }
        }
    }
</script>