<template>
    <!-- TODO: Design -> Complete Design is missing. This should be shown inside a like a bootstrap modal. Just copied it from a other project -->
    <div class="modal-content py-4 text-left">
        <!--Title-->
        <div class="flex justify-between items-center pb-3">
            <p class="text-2xl font-bold">Registrieren</p>
        </div>

        <div class="bg-red-200 border border-red-500 px-4 py-3 rounded relative mb-4" v-if="has_error && !success">
            <p v-text="error"></p>
        </div>
        <form autocomplete="off" @submit.prevent="register" v-if="!success" method="post">
            <div class="mb-4 p-4">
                <label for="name"
                       :class="{ 'text-red-500': has_error && errors.name, 'text-gray-700' : !has_error && !errors.name }"
                       class="block text-sm font-bold mb-2">Name</label>
                <input type="text" id="name"
                       class="appearance-none bg-transparent border-b w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                       :class="{ 'border-red-500 has-error': has_error && errors.name, 'border-teal-500' : !has_error && !errors.name }"
                       placeholder="user@example.com" v-model="name">
                <span class="help-block text-red-500" v-if="has_error && errors.name" v-text="errors.name.join()"></span>
            </div>
            <div class="mb-4 p-4">
                <label for="email"
                       :class="{ 'text-red-500': has_error && errors.email, 'text-gray-700' : !has_error && !errors.email }"
                       class="block text-sm font-bold mb-2">E-mail</label>
                <input type="email" id="email"
                       :class="{ 'border-red-500 has-error': has_error && errors.email, 'border-teal-500' : !has_error && !errors.email  }"
                       class="appearance-none bg-transparent border-b w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                       placeholder="user@example.com" v-model="email">
                <span class="help-block text-red-500" v-if="has_error && errors.email" v-text="errors.email.join()"></span>
            </div>
            <div class="pt-4 px-4"
                 :class="{ 'border-red-500 has-error': has_error && errors.password, 'border-teal-500' : !has_error && !errors.password }">
                <label for="password"
                       :class="{ 'text-red-500': has_error && errors.password, 'text-gray-700' : !has_error && !errors.password }"
                       class="block text-sm font-bold mb-2">Passwort</label>
                <input type="password" id="password"
                       class="appearance-none bg-transparent border-b w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                       v-model="password">
            </div>
            <div class="mb-4 p-4"
                 :class="{ 'border-red-500 has-error': has_error && errors.password, 'border-teal-500' : !has_error && !errors.password }">
                <label for="password_confirmation"
                       :class="{ 'text-red-500': has_error && errors.password, 'text-gray-700' : !has_error && !errors.password }"
                       class="block text-sm font-bold mb-2">Passwort
                    wiederholen</label>
                <input type="password" id="password_confirmation"
                       class="appearance-none bg-transparent border-b w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                       v-model="password_confirmation">
                <span class="help-block text-red-500" v-if="has_error && errors.password" v-text="errors.password.join()"></span>
            </div>

        </form>
        <!--Footer-->
        <div class="flex justify-end pt-2">
            <button class="bg-primary hover:bg-teal-600 text-white font-bold py-2 px-4 rounded" @click="register">
                Registrieren
            </button>
            <button class="px-4 bg-gray-300 p-3 rounded-lg text-dark hover:bg-gray-100 ml-2" @click="$emit('close')">
                Close
            </button>
        </div>
    </div>
</template>
<script>
    import UserApi from '@/apis/User'
    export default {
        data() {
            return {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                has_error: false,
                error: '',
                errors: {},
                success: false
            }
        }, methods: {
            register() {
                UserApi.register({
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.password_confirmation
                }).then(() => {
                    this.success = true
                    this.has_error = false
                    this.$store.dispatch('login', {email:this.email, password: this.password})
                        .then(() => {
                            localStorage.setItem("auth", "true");
                            this.$emit('close')
                            this.$router.push({name: "ProjectIndex"})
                        })
                }).catch((reason) => {
                    this.error = this.$_.get(reason.response, 'data.message')
                    this.errors = this.$_.get(reason.response, 'data.errors')
                    this.has_error = true
                })
            }
        }
    }
</script>